      <div class="dashBoardCont">
        <h2>dashboard</h2>
        <img src="css/img/dashBoardImg.jpg" width="984" height="277" alt="">
        <div class="dashBoardLeftDiv">
        <div class="dashBdLeftCol">
        	<h2>site builders links</h2>
            <ul>
            	<li><a href="#">site information</a></li>
                <li><a href="#">pages</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">theme</a></li>
                <li><a href="#">optional settings</a></li>
                <li><a href="#">users</a></li>
            </ul>
        </div>
        <div class="dashBdLeftCol">
       		 <h2>ecommers links</h2>
             <li><a href="#">products</a></li>
             <li><a href="#">cart</a></li>
             <li><a href="#">orders</a></li>
             <li><a href="#">reports</a></li>
             
        </div>
        <div class="notifiDiv">
        <h2>notifications</h2>
      	<div class="dashBordNotifi">
      	  <h4>new product reviews since last visit - <a href="#">see views</a></h4><span><a href="#"><img src="css/img/btn_close.png" width="24" height="23" alt=""></a></span></div>
          	<div class="dashBordNotifi">
      	  <h4>unbelievably long server maintenance on 04/12/12 - <a href="#">see views</a></h4><span><a href="#"><img src="css/img/btn_close.png" width="24" height="23" alt=""></a></span></div>
        
        </div>
        </div>
        <div class="dashBdRightCol">
       	 	<h2>current orders</h2>
            <span><input name="" type="button" value="view all orders" class="dashBordBtn"></span>
      		<div class="users-main dashBoardScroll">
        <div class="pages-wrapper">
          <div class="site-users left ">
            <div class="page-data clear">
              <div class="userGrid">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li><span class="group">Order</span> <span class="created">Placed</span> <span class="lastActivity">Total</span> </li>
                  </ul>
                </div>
                <div class="userGridBody">
                  <div id="scrollbar1" >
                    <div class="scrollbar">
                      <div class="track">
                        <div class="thumb">
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div class="overview">
                        <ul class="ConLibra">
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li class="selected">
                          <span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                          <li><span class="group">1234ASDX</span> <span class="created">08/12/11</span> <span class="lastActivity">$229.30</span> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="userGridFooter"></div>
              </div>
            </div>
          </div>
        </div>
      </div>      
            
        </div>
      
      
      </div>
	    		
    