<%= form_for(@theme, :multipart => true) do |f| %>
  <div class="main-container">
    <div class="header">Upload Theme</div>
    <div class="main-content">
      <div class="text-editer">
        <%= f.text_field :name, :placeholder=>"theme name" %>
      </div>
      <div class="addFileBody">
        <%= f.file_field :theme_file %>
      </div>
    </div>
    <div class="footer-section">
      <div class="leftBtns"><button class="secondary btnCancelForm" id="cancelBtn">Cancel</button> </div>
        <button class="primary" id="saveBtn">Add Text Block</button> </div>
    </div>
  </div>
<% end %>

