<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Pecaa</title>
		<link rel="stylesheet" href="/assets/layout.css" type="text/css">
		<link rel="stylesheet" href="/assets/controlTabLayout.css" type="text/css">
		<link rel="stylesheet" href="/assets/login.css" type="text/css">
    <link rel="stylesheet" href="/assets/siteinfo.css" type="text/css">
    <link rel="stylesheet" href="/assets/pages.css" type="text/css">
    <link rel="stylesheet" href="/assets/content.css" type="text/css">
    <link rel="stylesheet" href="/assets/themes.css" type="text/css">
    <link rel="stylesheet" href="/assets/optional.css" type="text/css">
    <link rel="stylesheet" href="/assets/users.css" type="text/css">
    <link rel="stylesheet" href="/assets/done.css" type="text/css">
    <script type="text/javascript" src="/assets/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/facebox.js"></script>

	</head>
	<body>
    <div class="mainContainer">
	    	<div class="userEditHolder">	
		    	<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder"></div>
		    			<div class="rightPanel">
		    				<ul>
		    					<li class="help"></li>
		    					<li class="myAccount"></li>
		    					<li class="logout"></li>
		    				</ul>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="content-section">
    				<div class="ctrlTabSection">
	    				<div class="ctrlTabs">
							<ul>
								<li><a href="#">Website List</a></li>
								<li><a href="#">System Stats</a></li>
								<li><a href="#">Reports</a></li>
								<li><a href="#">Ad Setup</a></li>
								<li><a href="#">Content Library</a></li>
								<li><a href="#">Users</a></li>
								<li><a href="#">System Config</a></li>
								<li class="active"><a href="#">Themes</a></li>
							</ul>
						</div>
						
	    				<div class="ctrlTabContent">
	    					<div class="themeSection">
								<div class="themeGroup left">
									<h2>About Themes</h2>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="themeGroup left">
									<button class="getTheme left">Get More Themes</button>
									<button class="upTheme left">Upload Theme</button>
								</div>
							</div>
	    					<div class="themeSection">
								<ul class="themeBoxes">
									<h2>Current Themes</h2>
									<% @themes.each do |theme| %>
									<li>
										<h3><%=theme.name%></h3>
										<div class="thumb"><img src="/assets/sampleThemeThumb.png" /></div>
										<ul class="tools">
											<li class="edit">Edit Theme</li>
											<li class="temp">Edit Templates</li>
											<li class="dup">Duplicate Theme</li>
											<li class="down">Download Theme</li>
										</ul>
										<a href="#" class="activateLink on">Active</a>
									</li>
									<% end %>
								</ul>
							</div>
	    				</div>
    					<div class="ctrl-footer">
    						<a href="#" class="ctrlHomeBtn left"></a>
    						<ul class="ctrlFTLinks right">
    							<li>sublink1</li>
    							<li>sublink2</li>
    							<li>sublink3</li>
    							<li>sublink4</li>
    						</ul>
    					</div>
              <a href='<%= new_theme_path(@theme) %>' rel="facebox" style="display:block;" class="theme_link"></a>
    				</div>
		    	</div>
	    	</div>
      </div>
    </div>
    <script>
      $('a[rel*=facebox]').facebox();
      $('.upTheme').click(function(){
        $('a.theme_link').trigger('click')
        console.log("kekeke");
      });
    </script>

	</body>
</html>