<div class="content-section">
              <div class="siteInfo-main cartBg">
                <div class="cartColumsMain2">
                  <div class="rowDiv">
                    <h2>general cart setup
                    <span><a href="$"><img src="css/img/helpIcon.png"></a></span>
                    </h2>
                    
                  </div>
                
                </div>
                <div class="cartCollumsBottom">
               <div class="rowDiv2">
                   <div class="content-section featuresMain">
      <div class="pages-main">
              <div class="pages-wrapper">
                <div class="usersLeftPane productsTitle">
                  <div class="title">
                    general cart options
                    <span class="help"><a href="#"></a></span> </div>
                </div>
                <div class="site-users left">
                  <div class="rowDiv2">
                    <div class="extForm">
                      
                      
                           
                             <div class="form-row"><span class="key">allow guest user to checkout :</span>
                        <span class="val">
                       <span class="status">
                       	<%if SiteFeature.first and SiteFeature.first.cart_setup%>
							<a class="on" href="#" onclick="window.location.href='/sites/<%=params[:site_id]%>/site_features/cart_status?cart_status=false'"></a>
							<%else%>						
								<a href="#" class="off" onclick="window.location.href='/sites/<%=params[:site_id]%>/site_features/cart_status?cart_status=true'"></a>
							<%end%>
						</span>
                        </span></div>
                         
                     
                        
                       <div class="form-row"><span class="key">&nbsp;</span><span class="val">
                       <input type="button" name="" value="save changes" class="greenBtn" style="float:left; width:250px">
                        </span></div>
                         
                           
                          
                        
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
    </div>
                  </div>
                </div>
           
              </div>