<div class="siteInfo-main cartBg">
                <div class="cartColumsMain2">
                  <div class="rowDiv">
                    <h2>advertising setup
                    <span><a href="$"><img src="/assets/helpIcon.png"></a></span>
                    </h2>
                    <dl>
                      <dt>enable advertising:</dt>
                      <dd><span class="status">
                      	<%if SiteFeature.first and SiteFeature.first.advertising_status%>
                      	<a href="/sites/<%=params[:site_id]%>/site_features/change_adv_status?advertise_status=false" class="on"></a>
						<%else%>
						<a href="/sites/<%=params[:site_id]%>/site_features/change_adv_status?advertise_status=true" class="off"></a>
						<%end%>
						</span></dd>
                      
                    </dl>
                  </div>
                
                </div>
                <div class="cartCollumsBottom">
               <div class="rowDiv2">
                   <div class="content-section featuresMain">
      <div class="pages-main">
        <div class="pages-wrapper">
          <div class="usersLeftPane productsTitle">
            <div class="title">advertising options</div>
          </div>
          
        </div>
      </div>
    </div>
                  </div>
                </div>
           
              </div>