<div class="siteInfo-main cartBg reviewBg">
                <div class="cartColumsMain2">
                  <div class="rowDiv">
                    <h2>manage reviews
                    <span><a href="$"><img src="css/img/helpIcon.png"></a></span>
                    </h2>
                    <dl>
                      <dt>show only new reviews since last login:</dt>
                      <dd><span id="shareThis" class="checkbox" style="background-position: 0pt -50px;"></span><input type="checkbox" id="shareThis" class="styled"></dd>
                      
                    </dl>
                  </div>
                
                </div>
                <div class="cartCollumsBottom">
               <div class="rowDiv2">
                   <div class="content-section featuresMain">
      <div class="pages-main">
        <div class="pages-wrapper">
          <div class="usersLeftPane productsTitle">
            <div class="title">current reviews</div>
            </div>
            <div class="searchContent">
		    	<input type="text" placeholder="search">
		    	<span class="searchIcon"><a href="#"></a></span>
		    </div>
          <div class="site-users left">
          	<div class="detailsPopDiv1" style="display:none;">
        
        	 <div class="detailsPopDiv2">
        <span class="closeBtn" onclick="$('.detailsPopDiv1').hide();"></span>
       <p>over all i thought that over all i thought that over all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought that</p>
              <p>over all i thought that over all i thought that over all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over all i thought thatover all i thought that over </p>
        	       
        </div>
         <div class="bottmArIcon"></div>
        
        </div>
            
            
            
            <div class="page-data clear">
              <div class="userGrid customTax1">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li> <span class="user">User</span> <span class="date">Date</span><span class="product">Product</span><span class="review">Review</span><span class="rating">Rating</span><span class="approved">Approve</span><span class="close"></span> </li>
                    </ul>
                  </div>
                <div class="userGridBody">
                  <div id="scrollbar1">
                    <div style="height: 215px;" class="scrollbar">
                      <div style="height: 215px;" class="track">
                        <div style="top: 0px; height: 168.091px;" class="thumb">
                          <div class="end"></div>
                          </div>
                        </div>
                      </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div style="top: 0px;" class="overview featureProduct">
                        <ul class="ConLibra ">
                          <!-- <li> <span class="productName"><span class="pointer"></span> sunglases<span class="status"><img src="css/img/btnMarkNo.png" border="0" /></span></span> <span class="sku">type X</span> <span class="created">08/12/11</span> <span class="vendor">08/12/11</span> <span class="sold">08/12/11</span> <span class="viewed">08/12/11</span> </li>-->
                          <li class="selected alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
 						<li> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li class="alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                         <li> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li class="alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li class="alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li class="alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                        <li class="alt"> <span class="userText">Bob Smith</span><span class="dateText">10/10/12</span><span class="productText">XZR Sunglasses</span><span class="reviewText">Overall I thought that</span> <span class="ratingText"></span> <span class="approvedText"><span id="shareThis" class="checkbox" style="background-position: 0pt 0pt;"></span><input type="checkbox" id="shareThis" class="styled"></span><span class="close"><img border="0" src="css/img/btnDelete.png"></span> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="userGridFooter"></div>
                </div>
              </div>
           
          </div>
        </div>
      </div>
    </div>
                  </div>
                </div>
           
              </div>
			  <script>
			  	$(document).ready(function(){
			  	$('.reviewText').hover(function () {
				    $('.detailsPopDiv1').show();
				  })
				  })
			  </script>