<div class="content-section">
              <div class="siteInfo-main cartBg">
                <div class="cartColumsMain2">
                  <div class="rowDiv">
                    <h2> RX management setup
                    <span><a href="$"><img src="css/img/helpIcon.png"></a></span>
                    </h2>
                    
                  </div>
                
                </div>
                <div class="cartCollumsBottom">
               <div class="rowDiv2">
                   <div class="content-section featuresMain">
      <div class="pages-main">
              <div class="pages-wrapper">
                <div class="usersLeftPane productsTitle">
                  <div class="title">
                    RX managment options
                    <span class="help"><a href="#"></a></span> </div>
                </div>
                <div class="site-users left">
                  <div class="rowDiv2">
                    <div class="extForm">
                      
                      
                           
                           	
                           
                          
                        
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
    </div>
                  </div>
                </div>
           
              </div>