<aside>
  <div class="sideGroup clearfix">
  	<h2>Sidebar title</h2>
  	<ul class="clearfix">
  		<li><span>option one</span></li>
  		<li class="active"><span>option two</span></li>
  		<li class="active"><span>option three</span></li>
  		<li class="active"><span>option four</span></li>
  	</ul>
  </div>
  <div class="sideGroup even clearfix">
  	<h2>Sidebar title</h2>
  	<ul class="clearfix">
  		<li><span>option one</span></li>
  		<li class="active"><span>option two</span></li>
  		<li><span>option three</span></li>
  		<li><span>option four</span></li>
  	</ul>
  </div>
  <div class="sideGroup clearfix">
  	<h2>Sidebar title</h2>
  	<ul class="clearfix">
  		<li><span>option one</span></li>
  		<li class="active"><span>option two</span></li>
  		<li class="active"><span>option three</span></li>
  		<li><span>option four</span></li>
  	</ul>
  </div>
  <div class="sideGroup even clearfix">
  	<h2>Sidebar title</h2>
  	<ul class="clearfix">
  		<li><span>option one</span></li>
  		<li><span>option two</span></li>
  		<li><span>option three</span></li>
  		<li><span>option four</span></li>
  	</ul>
  </div>
</aside>