<div class="main-content clearfix">
  <div class="wrapper nineZeroPer lineBg">
  {{ flash_message}}

  <form method="post" id="user_new" class="user_new" action="/sites/{{site.id}}/passwords" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8">
      <input type="hidden" value="SSp5vWlSRlYo5MIdfsh0RBI/717tmGxounq6as07G9c=" name="authenticity_token">
    </div>
    <div class="midcontentBox sixZeroPer">
      <h2 class="lightGreen">Forgot Name / Password</h2>
      <p>Everyone forgets. Just enter the email address you used to create your account and we'll reset your password and send a link to your email address.
        So you can create a new password. Simple! Please <a href="#">contact us</a> with any other account issues.</p>
      <div class="midInnerDiv">
        <label class="labelCls">email address:</label>
        <input type="email" value="{{user.email}}" size="30" rel="email" name="user[email]" id="contact_email" class="inputCls">
        <input type="submit" value="reset password" name="commit" class="submitCls lightGreen hundredPix">
        <a href="/sites/{{site.id}}/registrations/new">cancel</a>
      </div>
    </div>
   </form>
  </div>

<script type="text/javascript">
    jQuery(".inputBlr").each(function(){
        jQuery(this).val(jQuery(this).attr('rel'));
    })
    jQuery(".inputBlr").focus(function(){
        if(jQuery(this).val() == jQuery(this).attr('rel')){
            jQuery(this).val('');
        }
    })

    jQuery(".inputBlr").blur(function(){
        if(jQuery(this).val() == ''){
            jQuery(this).val(jQuery(this).attr('rel'));
        }
    })
</script>
</div>