<div id="products">
  {% for product in products %}
    <div class="block">
      <h2>{{ product.name}}</h2>
      <div class="content">
        {{ product.image_path}}
      </div>
    </div>
  {% endfor %}
</div>