<div class="products">
	<ul>
  	{% for product in products %}
      <li class="prod">
        <div class="prodSnap">{{ product.image_path}}</div>
          <div class="prodLabel">
            <span class="prodTitle left">{{ product.name}}</span>
            <span class="right prodPrice">{{ product.base_price}}</span>
          </div>
        <div class="viewBtn clear">view this product</div>
      </li>
    {% endfor %}
  </ul>
</div>