<div id="product_categories">
<ul>
  {% for category in product_categories %}
    <li>
      <a href="/sites/{{ site.id }}/show_products/product_categories/{{ category.id }}">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{{ content_for_products }}
