<div class="products">
	<ul>
  	{% for pc in product_categories %}
      <li class="prod">
        <div class="prodLabel">
    		  <span class="prodTitle left">{{ pc.name}}</span>
    		</div>
        <div class="prodSnap">{{ pc.products.first.image_path}}</div>
      </li>
    {% endfor %}
  </ul>
</div>
