<div class="newsLetter clearfix">
	<span class="getEmail">Get our email newsletter - </span>
	<span class="promiss">we won’t share your number with anyone else, we promise!</span>
	<span class="signup clearfix"><span><input type="text" placeholder="your email address" /></span>
		<img src="/css/img/btnSignupNews.png" border="0" />
	</span>
</div>
<footer class="clearfix">
	<div class="fCol">
		<h3>Pecaa Eyeglasses Inc.</h3>
		<h4>Pecaa Eyeglasses Inc.</h4>
		<h4>Pecaa Eyeglasses Inc.</h4>
	</div>
	<div class="fCol">
		<h2>email : <span class="val email">info@pecaa.com</span></h2>
		<h2>phone : <span class="val">222.187..1588</span></h2>
	</div>
	<div class="fCol last">
		<ul class="sMedia clearfix">
			<li class="fb"></li>
			<li class="tw"></li>
			<li class="gp"></li>
			<li class="li"></li>
		</ul>
	</div>
</footer>