<header class="clearfix">
	<div class="banner clearfix">
		<div class="hItem"><img src="/css/img/logo.png" border="0" /></div>
		<div class="hItem">
			<div class="hSubItem"><img src="/css/img/iconHeaderPromo.png" border="0" /></div>
			<div class="hSubItem"><div class="headerSearch clearfix"><span class="searchBox"><input type="text" /></span><span class="searchBtn"><img src="/css/img/btnHeaderSearch.png" border="0" /></span></div></div>
		</div>
		<div class="hItem hCart"><img src="/css/img/iconHeaderCart.png" border="0" /></div>
	</div>
</header>
