<div class="welcome clearfix">
	<div class="col left"><img src="/css/img/icon90daysGuarantee.png" border="0" /></div>
	<div class="col msg left"><span class="line"></span><span class="welcomeMsg">Welcome to PECAA</span><span class="line"></span>
		<div class="inst clear">Check out these top-selling products.</div>
	</div>
	<div class="col right"><img src="/css/img/iconFreeShipping.png" border="0" /></div>
</div>
