<h1> Forgot Name / Password <h1>

                       <form id="search-form" name="search" method="post" action="/sites/{{site.id}}/customer_login">
  <table>
    <tr>
      <td>email address:</td>
      <td>
        <input type="text" id="contact_email" name="email"/>
      </td>
    </tr>

    <tr>
      <td colspan="2"><input type='submit' class="submit" value="sign in"/></td>
    </tr>

    <tr>
      <td colspan="2"><a href="/customer_login">cancel</a></td>
    </tr>
  </table>
</form>
