 <script type="text/javascript" src="/assets/jquery.tinyscrollbar.min.js"></script>
 <script type="text/javascript">
        	$(document).ready(function(){
        		$('#users1').tinyscrollbar();
        	});
</script>
<div class="users-main">
		    			<div class="pages-wrapper">
		    				
		    				<div class="usersLeftPane left">
								<div class="title">Manage Users <span class="help"><a href="#"></a></span></div>
								
								<div class="userPanel">
									<div class="searchUser">
										<span class="searchInput left"><input type="text"></span>
										<span class="addSearch left"><img src="/assets/btn_AddNewSearch.png" border="0"></span>
										<span class="selectColumns clear"><span class="columnText">all columns</span><span class="btnDown right"><img src="/assets/btnDropDownSelectColum.png" border="0"></span></span>
									</div>
									<span class="showUser clear"><span class="userLastname">Group X <img src="/assets/btn_deleteUser_disabled.png"></span><span class="user-label">Group Name</span></span>
								</div>
								
								<div class="userPanelDevider"></div>
								
								<div class="userPanel">
									<div class="date-created"><input type="checkbox" class="styled" id="dateCreated"> <label for="dateCreated">date created</label></div>
									<div class="rangeSlider">range slider comes here</div>
									<div class="last-activity"><input type="checkbox" class="styled" id="lastActivityVal"> <label for="lastActivityVal">last activity</label></div>
									<div class="last-activity"><input type="checkbox" class="styled" id="noOfUsers"> <label for="noOfUsers"># of users</label></div>
									<div class="rangeSlider">range slider comes here</div>
								</div>
								
								<div class="userPanelDevider"></div>
								
								<div class="userPanel">
									<div class="showRoles"><span class="val"><input type="checkbox" class="styled"></span><span class="key"><label>show all roles</label></span></div>
									<%Role.all.each do |role|%>
									  <div class="showRoles"><span class="val"><input type="checkbox" class="styled"></span><span class="key"><label>show <%=role.name%></label></span></div>
									<%end%>
								</div>
		    				</div>
		    				
		    				
		    				<div class="site-users left">
								<div class="addNewUserBtn"><button class="addNewUser">create new group</button></div>
    							<div class="page-data clear">
    								<div class="userGrid">
    									<div class="userGridHeader">
    										<ul class="ConLibraHeads">
    											<li>
    												<span class="userName">Group Name</span>
    												<span class="group"># of Users</span>
    												<span class="created">Created</span>
    												<span class="lastActivity">Last Activity</span>
    											</li>
    										</ul>
    									</div>
    									<div class="userGridBody">
    										<div id="users1">
    											<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    											<div class="viewport">
    												<!-- <div class="shadows" id="shadow"><span class="topShadow"></span><span class="bottomShadow"></span></div> -->
				 									<div class="overview">
				    									<ul class="ConLibra">
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">34</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">3456</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">1234</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">123</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">53</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">3455</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">123</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">22</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">76</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">35</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">12</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">97</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">345</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">785</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">234</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">57</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li class="alt">
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkYes.png" border="0"></span></span>
				    											<span class="group">321</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    										<li>
				    											<span class="userName"><span class="pointer"></span>Group X<span class="status"><img src="/assets/btnMarkNo.png" border="0"></span></span>
				    											<span class="group">34</span>
				    											<span class="created">08/12/11</span>
				    											<span class="lastActivity">08/12/11</span>
				    										</li>
				    									</ul>
				    								</div>
		    									</div>
		    								</div>
		    							</div>
		    							
    									<div class="userGridFooter"></div>
    								
	    							</div>
			    				</div>
			    			</div>
		    		
		    			</div>
		    		</div>
<script>
	$(document).ready(function(){
		//validateScroll('users1', 400);
		//$('#scrollbar1').tinyscrollbar();
		$('#form_submit').click(function(){
			window.location.href = "/sites/<%= params[:site_id]%>/done";
		});
		$('#preview_button').click(function(){
			window.location.href="<%= preview_site_path(@site)%>";
		});
	})
</script>