<div class="userDetailPanel">
									<h2>James Smith</h2>
									<div class="userDetailSet">
										<span class="key">user name :</span>
										<span class="val">jsmith1234</span>
									</div>
									<div class="userDetailSet">
										<span class="key">password :</span>
										<span class="val">********</span>
									</div>
									<div class="userDetailSet">
										<span class="key">email :</span>
										<span class="val">jsmith1234@gmail.com</span>
									</div>
									<div class="userDetailSet">
										<span class="key">phone :</span>
										<span class="val">302.345.6662</span>
									</div>
									<div class="userDetailSet">
										<span class="key">company :</span>
										<span class="val">Company X</span>
									</div>
									<div class="userDetailSet">
										<span class="key">title :</span>
										<span class="val">Product Manager</span>
									</div>
									<div class="userDetailSet">
										<span class="key">group :</span>
										<span class="val">group 1<br>group 2<br>group X</span>
									</div>
									<div class="userDetailSet bottomBorder">
										<span class="key">user # :</span>
										<span class="val">34546457567</span>
									</div>
									<div class="userDetailSet">
										<span class="key">created :</span>
										<span class="val">12/30/11</span>
									</div>
									<div class="userDetailSet">
										<span class="key">last activity :</span>
										<span class="val">09/22/12</span>
									</div>
									<div class="buttonPanel right"><button class="secondary">edit</button></div>
								</div>