<div class="contentObject">
    <div class="alphaBg">
    </div>
    <div class="expandable">
        <span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>"$('.contentObject').hide();"%></span>
        <span class="drag"></span>
        <span class="scale"></span> 
        <div class="objectContent" style="width:300px;height:250px;">
            <div class="viewVideoHolder">
                <div class="viewVideoTop">
                	<%@video = content.source%>
                    <%= @video.source_file_name %><img src="/assets/icon-help-grey.png" class="help" />
                </div>
                <div class="viewVideoBody">
                    <div class="videoDisplay">
                        <embed src ="/flash/mediaplayer.swf?file=<%= @video.source.url %>" width="480" height="320" allowfullscreen="true" />
                    </div>
                </div>
                <div class="viewVideoBottom">
                    <div class="btnOKLeft">
                        <input type="button" value="OK" class="btnOK btnCancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>