<div class="contentObject">
	<div class ="resizable_content">
    <div class="alphaBg">
    </div>
    <div class="expandable">
        <span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>"$('.ui-droppable').html('');"%></span>
        <span class="drag"></span>
        
		<div class="objectContent">
			<div class="video-wrapper">
				<div class="videoPreview left"><embed src ="/flash/mediaplayer.swf?file=<%= @video.source.url %>" width="320" height="125" allowfullscreen="true" /></div>
				<div class="videoDetail left">
					<span class="vdoInfo"><%= @video.source_file_name %><span class="dragIcon right"></span></span>
					<span class="vdoInfo">Video About Singing<span class="dragIcon right"></span></span>
					<span class="vdoInfo">Video About Guittar<span class="dragIcon right"></span></span>
					<span class="vdoInfo">Othes<span class="dragIcon right"></span></span>
				</div>
			</div>
		</div>
    </div>
</div>
</div>
