	<div class="topHeader">
		<div class="logoHolder"></div>
		<div class="rightPanel">
			<ul>
				<li class="help"></li>
				<li class="myAccount"></li>
				<li class="logout"></li>
			</ul>
		</div>
	</div>
	
