<div class="siteInfo-main cartBg">
    <div class="cartColumsMain2">
        <div class="rowDiv">
            <h2>paypal setup<span><a href="$"><img src="/assets/images/helpIcon2.png"></a></span></h2>
            <dl>
                <dt>
                    enable paypal:
                </dt>
                <dd>
                    <span class="status"><a href="#" class="on"></a></span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="cartCollumsBottom">
    </div>
</div>
