<div class="content-section">
    <div class="users-main">
        <div class="pages-wrapper">
            <div class="usersLeftPane userEdit">
                <div class="title">
                    manage orders <span class="help"><a href="#"></a></span>
                </div>
                <div class="userEditPanel orderPanel">
                    <div class="orderHeader">
                        <div class="orderNum left">
                            Order : 3245325
                        </div>
                        <div class="tabWraper left">
                            <ul class="pTabs">
                                <li class="active">
                                    payment / shipping
                                </li>
                                <li>
                                    products
                                </li>
                                <li>
                                    notes / history
                                </li>
                            </ul>
                        </div>
                        <span class="exportBtn">
                            <button class="secondary">
                                export pdf of this order
                            </button>
                        </span>
                    </div>
                    <!-- start of colum wrapper -->
                    <div class="colum-wrapper left first">
                        <h3>Order Details</h3>
                        <dl class="orderDetailSet">
                            <dt>
                                order :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="1223adsf">
                            </dd>
                            <dt>
                                placed :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="8/12/11">
                            </dd>
                            <dt>
                                placed :
                            </dt>
                            <dd>
                                <select>
                                    <option value="complete">complete</option>
                                </select>
                            </dd>
                            <dt>
                                customer :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="sallygsg@gmail.com">
                            </dd>
                        </dl>
                        <div class="btns right">
                            <button class="secondary">
                                view all customer details
                            </button>
                        </div>
                        <div class="btns right">
                            <button class="secondary">
                                view customer details
                            </button>
                        </div>
                    </div>
                    <!-- end of colum wrapper --><!-- start of colum wrapper -->
                    <div class="colum-wrapper left">
                        <h3>Billing Details</h3>
                        <dl class="orderDetailSet">
                            <dt>
                                method :
                            </dt>
                            <dd>
                                <input type="text" value="Master Card">
                            </dd>
                            <dt>
                                card number :
                            </dt>
                            <dd>
                                <input type="text" value="*** *** *** 3445">
                            </dd>
                            <dt>
                                auth code :
                            </dt>
                            <dd>
                                <input type="text" value="asdf25ddhfggj">
                            </dd>
                            <dt>
                                amount :
                            </dt>
                            <dd>
                                <input type="text" value="$255.67">
                            </dd>
                        </dl>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3>Billing Details</h3>
                        <dl class="orderDetailSet">
                            <dt>
                            </dt>
                            <dd>
                                <select>
                                    <option value="other">select other</option>
                                </select>
                            </dd>
                            <dt>
                                nickname :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="Home Billing">
                            </dd>
                            <dt>
                                address :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="1254 W. 12th Avenue">
                            </dd>
                            <dt>
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="1254 W. 12th Avenue">
                            </dd>
                            <dt>
                                city :
                            </dt>
                            <dd>
                                <input type="text" value="Omaha">
                            </dd>
                            <dt>
                                state:
                            </dt>
                            <dd>
                                <select>
                                    <option value="nebraska">Nebraska</option>
                                </select>
                            </dd>
                            <dt>
                                zip :
                            </dt>
                            <dd>
                                <input type="text" value="15648">
                            </dd>
                        </dl>
                    </div><!-- end of colum wrapper --><!-- start of colum wrapper -->
                    <div class="colum-wrapper last left">
                        <h3>Shipping Details</h3>
                        <dl class="orderDetailSet">
                            <dt>
                                shipping # :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="asddf345sdg">
                            </dd>
                            <dt>
                                ship method :
                            </dt>
                            <dd>
                                <select>
                                    <option value="ups3">UPS 3-day select</option>
                                </select>
                            </dd>
                            <dt>
                                ship cost :
                            </dt>
                            <dd>
                                <input type="text" value="$5.55">
                            </dd>
                            <dt>
                                tracking # :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="zagsd345456">
                            </dd>
                            <dt>
                                status :
                            </dt>
                            <dd>
                                <select>
                                    <option value="shipped">shipped</option>
                                </select>
                            </dd>
                            <dt>
                                date/time :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="12/11/11 10:55 PM">
                            </dd>
                        </dl><h3>Shipping Address</h3>
                        <dl class="orderDetailSet">
                            <dt>
                            </dt>
                            <dd>
                                <select>
                                    <option value="other">select other</option>
                                </select>
                            </dd>
                            <dt>
                                nickname :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="Home Billing">
                            </dd>
                            <dt>
                                address :
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="1254 W. 12th Avenue">
                            </dd>
                            <dt>
                            </dt>
                            <dd class="grayBg">
                                <input type="text" value="1254 W. 12th Avenue">
                            </dd>
                            <dt>
                                city :
                            </dt>
                            <dd>
                                <input type="text" value="Omaha">
                            </dd>
                            <dt>
                                state:
                            </dt>
                            <dd>
                                <select>
                                    <option value="nebraska">Nebraska</option>
                                </select>
                            </dd>
                            <dt>
                                zip :
                            </dt>
                            <dd>
                                <input type="text" value="15648">
                            </dd>
                        </dl>
                    </div><!-- end of colum wrapper -->
                    <div class="userEditBtnPanel clear">
                        <div class="left">
                            <button class="redBtn">
                                delete user
                            </button>
                        </div>
                        <div class="right">
                            <button class="secondary">
                                cancel
                            </button>
                            <button class="primary">
                                save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
