<div class="siteInfo-main cartBg">
  <div class="cartColumsMain">
    <div class="rowDiv">
      <h2>payment gateway setup <span><a href="$"><img src="/images/helpIcon2.png"></a></span></h2>
      <dl>
        <dt>enable payment gateway :</dt>
        <dd><img src="/images/bg_Off.png" width="48" height="21"></dd>
        <dt>select payment gateway :</dt>
        <dd>
          <select name="">
            <option>Authorize.net</option>
          </select>
        </dd>
      </dl>
    </div>

    <div class="rowDiv2 divAlpha">
      <h2>payment gateway setup <span><a href="$"><img src="/images/helpIcon.png"></a></span></h2>
      <dl>
        <dt>user name :</dt>
        <dd>
          <input type="text" disabled="" value="jsmith1234x" class="inputReadOnly">
        </dd>
        <dt>password :</dt>
        <dd>
          <input type="text" value="1234xzrd">
        </dd>
        <dt>test mode :</dt>
        <dd><img src="/images/bg_On.png" width="48" height="21"></dd>
        <dt>authorize funds only :</dt>
        <dd><img src="/images/bg_Off.png" width="48" height="21"></dd>
        <dt>use CV2/CVV2 code :</dt>
        <dd><img src="/images/bg_On.png" width="48" height="21"></dd>
        <dt>credit card options :</dt>
        <dd>
          <form name="form1" method="post" action="">
            <label>
              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
              MasterCard</label>
            <br>
            <label>
              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_1">
              VISA</label>
            <br>
            <label>
              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_2">
              Discover</label>
            <br>
            <label>
              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_3">
              American Express</label>
            <br>
          </form>
        </dd>

      </dl>
    </div>
  </div>
</div>