<div class="subTab-Content left subTab-Content-tab" id='background_form'>
	<div class="resetAll"><a href="#"></a></div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>color</label>
			<div class="palletBox">
				<div class="solidColor">
				  <input type="hidden" id="cp1" name="color[]" value="fe9810"/>
				  <span class="piller"></span>
          <span class="add"></span>
        </div>
				<div class="gradientColor right">creat gradient</div>
			</div>
		</div>
		<div class="changePanel">
			<label>opacity</label>
			<div class="palletBox">
				  <div class="slider-alpha" id='opacity'>
					<div class="alphaPointer"><span id="opacity_val" class="val">100%</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper last left">
		<div class="changePanel">
			<label>background image</label>
			<div class="palletBox grayBg"><span class="noImage">no image</span>
				<div class="chooseImg right">choose image</div>
			</div>
		</div>
		<div class="changePanel">
			<label>image position & style</label>
			<div class="palletBox">
				<div class="tileBox left">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li class="active"></li>
					</ul>
			</div>
			<div class="repeatBox left">
				<div class="repeatXY"><input type="checkbox" class="styled" id="repeatX"/> <label for="repeatX">repeat-x</label></div>
				<div class="repeatXY"><input type="checkbox" class="styled" id="repeatY"/> <label for="repeatY">repeat-y</label></div>
			</div>
			</div>
		</div>
	</div>
</div>