<div class="subTab-Content left subTab-Content-tab" id='block_form' style='display:none'>
	<div class="resetAll"><a href="#"></a></div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>color</label>
			<div class="palletBox">
				<div class="solidColor left"><span class="piller"></span><span class="add"></span></div>
				
				<div class="boxType left">
					<div class="boxTypeLabel"><label class="left">gradient color</label></div>
					<ul>
						<li><input type="radio" name='gradient_color' id="solid" class="styled" /><label for="solid">solid</label></li>
						<li><input type="radio" name='gradient_color' id="double" class="styled" /><label for="double">double</label></li>
						<li><input type="radio" name='gradient_color' id="dotted" class="styled" /><label for="dotted">dotted</label></li>
						<li><input type="radio" name='gradient_color' id="none" class="styled" /><label for="none">none</label></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="changePanel">
			<label>opacity</label>
			<div class="palletBox">
			  <div class="slider-alpha" id='opacity'>
				  <div class="alphaPointer"><span id="opacity_val" class="val">100%</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>border width</label>
			<div class="palletBox">
				<div class="slider-alpha steps" id='border_width'>
					<div class="alphaPointer"><span id='border_width_val' class="val">4px</span></div>
				</div>
			</div>
		</div>
		<div class="changePanel">
			<label>border radius</label>
			<div class="palletBox">
				<div class="slider-alpha steps" id='border_radius'>
					<div class="alphaPointer"><span id="border_radius_val"class="val">6px</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper last left">
		<div class="changePanel">
			<label>box shadow</label>
			<div class="palletBox">
				
				<div class="boxShadow right">
					<div class="slider-boxShadow left" id='box_shadow'>
						<div class="pointStart"><span class="col"></span><span class="val" id='box_shadow_val1'>4px</span></div>
						<div class="pointEnd"><span class="col"></span><span class="val" id='box_shadow_val2'>4px</span></div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="changePanel">
			<label>shadow direction</label>
			<div class="palletBox">
				<div class="tileBox left">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li class="active"></li>
					</ul>
			</div>
			<div class="showPreview left">
				<div class="boxSquare"></div>
				<div class="boxCircle"></div>
			</div>
			</div>
		</div>
	</div>
</div>
