<div class="themes-board">
	<div class="grid-board"></div>
	<div class="text-box-style">
		<h1>Lorem ipsum dolor</h1>
		<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus diam, aliquet in malesuada nec, gravida eget nibh. Sed ac est vel augue aliquet porta et feugiat nibh. Nullam sit amet sagittis libero. Duis suscipit suscipit leo sed posuere.</p>
		<p class="text-red text_color_alt">Nullam nisi elit, luctus sit amet euismod quis, cursus sed ipsum. Quisque pulvinar mi nec massa dapibus congue. Phasellus neque eros, tincidunt at sollicitudin quis, vulputate ac nisi. Cras luctus dapibus vestibulum. Fusce libero urna, accumsan ut aliquet in, volutpat at arcu. </p>
	</div>
</div>
