<div class="subTab-Content left subTab-Content-tab" id='text_form' style='display:none'>
	<div class="resetAll"><a href="#"></a></div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>color</label>
			<div class="palletBox">
				<div class="solidColor left">
				  <%=hidden_field_tag :text_color, "fe9810", :name=>"text[text_color]"%>
  				<span class="piller"></span><span class="add"></span>
  			</div>
				<span class="textColor text_color_alt">text color</span>
			</div>
		</div>
		<div class="changePanel">
			<label>opacity</label>
			<div class="palletBox">
			  <div class="slider-alpha" id='opacity_text'>
				<div class="alphaPointer"><span id="opacity_text_val" class="val">100%</span></div>
				<%=hidden_field_tag :text_opacity, '', :name=>"text[text_opacity]"%>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper last left">
		<div class="changePanel">
			<label>text shadow</label>
			<div class="palletBox">
				
				<div class="boxShadow right">
					<div class="slider-boxShadow left" id='textshadow'>
						<div class="amt"><span id='text_shadow_val1' class="val">amt</span></div>
						<div class="spread"><span id='text_shadow_val2' class="val">spread</span></div>
						<%=hidden_field_tag :text_shadow, '', :name=>"text[text_shadow]" %>
					</div>
				</div>
				
			</div>
		</div>
		<div class="changePanel">
			<label>shadow direction</label>
			<div class="palletBox">
				<div class="tileBox left">
					<ul>
						<li id="topLeft"></li>
						<li id="topCenter"></li>
						<li id="topRight"></li>
						<li id="middleLeft"></li>
						<li id="middleCenter"></li>
						<li id="middleRight"></li>
						<li id="bottomLeft"></li>
						<li id="bottomMiddle"></li>
						<li id="bottomLeft" class="active"></li>
					</ul>
					<%= hidden_field_tag :text_shadow_direction, '', :class=>"pallet_box", :name=>"text[text_shadow_direction]"%>
			</div>
			<div class="textShadowPrev left">
				<div class="textShadow">shadow</div>
			</div>
			</div>
		</div>
	</div>
</div>
