<div class="subTab-Content left subTab-Content-tab" id='text_form' style='display:none'>
	<div class="resetAll"><a href="#"></a></div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>color</label>
			<div class="palletBox">
				<div class="solidColor left"><span class="piller"></span><span class="add"></span></div>
				<span class="textColor">text color</span>
			</div>
		</div>
		<div class="changePanel">
			<label>opacity</label>
			<div class="palletBox">
			  <div class="slider-alpha" id='opacity_text'>
				<div class="alphaPointer"><span id="opacity_text_val" class="val">100%</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper last left">
		<div class="changePanel">
			<label>text shadow</label>
			<div class="palletBox">
				
				<div class="boxShadow right">
					<div class="slider-boxShadow left" id='text_shadow'>
						<div class="amt"><span id='text_shadow_val1' class="val">amt</span></div>
						<div class="spread"><span id='text_shadow_val2' class="val">spread</span></div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="changePanel">
			<label>shadow direction</label>
			<div class="palletBox">
				<div class="tileBox left">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li class="active"></li>
					</ul>
			</div>
			<div class="textShadowPrev left">
				<div class="textShadow">shadow</div>
			</div>
			</div>
		</div>
	</div>
</div>
