.roundedBox {
	background: url(/assets/bg2.png);
    border: 1px solid #9B9B9B;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 2px 0 #b8b8b8;
    
}

#loginBox {
	height: 500px;
    width: 950px;
    margin: 50px auto 0px auto;	
	text-align: center;
	position: relative;
}

body {
	margin:0px; padding:0px; background:url(../assets/bg.gif); font:normal 12px Arial, Helvetica, sans-serif;
}

body {
  font:normal 12px Arial, Helvetica, sans-serif;
}

.clear {
	clear:both;
}

.ueNavMid {
	float:left; width:944px; background:url(../assets/ue-nav-bg.png) repeat-x left top; height:47px;
}

.ueNav {
	font:normal 18px "calibri", Arial, Helvetica, sans-serif; margin:0px 0px 0px 0px; padding:0px;
}

.ueNav li {
	list-style-type:none; text-decoration:none; margin-right:5px;
}

.ueNav li a {
	float:left; color:#cccccc; margin:0px 0px 0px 0px; text-decoration:none; padding:0px 0px 0px 0px; height:47px;
}

.ueNav li a span {
	float:left; color:#cccccc; margin:0px 0px 0px 0px; text-decoration:none; padding:12px 20px 0px 20px; height:47px;
}

.ueNav li a:hover, .ueNav li.select a {
	float:left; font:normal 18px "calibri", Arial, Helvetica, sans-serif; color:#666666; background:url(../assets/ue-nav-bg.png) no-repeat right bottom; height:47px; padding:0px 20px 0px 0px; text-decoration:none;
}

.ueNav li:hover span, .ueNav li.select span {
	background:url(../assets/ue-nav-bg.png) no-repeat left bottom; height:35px; float:left; padding:12px 0px 0px 20px; text-decoration:none; color:#666666;
}

.ueBodyContent {
	float:left; width:948px; background:url(../assets/user-edit-table-shade.jpg) repeat-y left top; padding:10px;
}

.ueNavBottom {
    font: 15px "calibri",Arial,Helvetica,sans-serif;
    margin: 40px;
    padding: 0;
    width: 500px;
}

.ueNavBottom li {
	list-style-type:none; text-decoration:none; margin-right:0px; display:inline;
}

.ueNavBottom li a {
	float:left; color:#6c95a9; margin:0px 10px 0px 0px; text-decoration:none; padding:0px 0px 0px 0px; height:34px;
}

.ueNavBottom li a span {
	float:left; color:#6c95a9; margin:0px 20px 0px 0px; text-decoration:none; padding:0px 0px 0px 20px; height:34px; background:url(../assets/footer-nav-bg.png) no-repeat left -5px;
}

/* view video */
.viewVideoHolder {
	margin:0px 0px 0px 0px; width:660px; border-radius:5px; -moz-border-radius:5px; box-shadow: 2px 2px 2px 0px #999999; position:relative;
}

.viewVideoTop {
	float:left; width:643px; border:1px solid #797979; border-radius:5px 5px 0px 0px; background:url(../assets/add-file-bg.jpg) repeat left top; font:bold 25px Arial, Helvetica, sans-serif; color:#d9e5eb; line-height:38px; text-align:left; padding-left:15px; position:relative;
}

.viewVideoBody {
	float:left; width:630px; background-color:#dbe6eb; padding:20px 15px;
}

.viewVideoBottom {
	float:left; width:628px; border:1px solid #797979; border-radius:0px 0px 5px 5px; background:url(../assets/add-file-bg.jpg) repeat left top; padding:5px 15px;
}

.videoDisplay {
	margin:auto; width:490px; height:320px; border-radius:5px; -moz-border-radius:5px; background:url(../assets/add-file-bg.jpg) repeat left top; padding:20px;
}

.imgDisplay .video {
	width:490px; height:320px;
}

/* end of view video */
/* view image */
.viewImgHolder {
	margin:0px 0px 0px 0px; width:660px; border-radius:5px; -moz-border-radius:5px; box-shadow: 2px 2px 2px 0px #999999; position:relative;
}

.viewImgTop {
	float:left; width:643px; border:1px solid #797979; border-radius:5px 5px 0px 0px; background:url(../assets/add-file-bg.jpg) repeat left top; font:bold 25px Arial, Helvetica, sans-serif; color:#d9e5eb; line-height:38px; text-align:left; padding-left:15px; position:relative;
}

.viewImgBody {
	float:left; width:630px; background-color:#dbe6eb; padding:15px;
}

.viewImgBottom {
	float:left; width:628px; border:1px solid #797979; border-radius:0px 0px 5px 5px; background:url(../assets/add-file-bg.jpg) repeat left top; padding:5px 15px;
}

.imgDisplay {
	margin:auto; width:300px; height:300px; border-radius:5px; -moz-border-radius:5px; background:url(../assets/add-file-bg.jpg) repeat left top; padding:20px;
}

.imgDisplay img {
	width:300px; height:300px;
}

.btnOK {
	background:url(../assets/btn-green.png) no-repeat right bottom; border:0px; padding-right:15px; height:34px; color:#ffffff; font:normal 16px Arial, Helvetica, sans-serif; margin-left:10px;
}

.btnOKLeft {
	background:url(../assets/btn-green.png) no-repeat left top; padding-left:0px; height:34px; float:right;
}
/* end of view image */
