/* Tiny Scrollbar */
.userGrid .viewport { overflow: hidden; position: relative; }
.userGrid .overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; border-right:0; }
.userGrid .scrollbar{ background: transparent url(img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 16px; z-index: 1;}
.userGrid .track { /*background: transparent url(img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/ background:#999999; height: 100%; width:12px; position: relative; padding: 0 1px;border-right: 1px solid #333333; border-left: 1px solid #333333;}
.userGrid .thumb { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.userGrid .thumb .end { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 0%; overflow: hidden; height: 5px; width: 25px; }
.userGrid .disable { display: none; }

#scrollbar1 .viewport { width: 713px; height: 400px; overflow: hidden; position: relative; }
#scrollbar2 .viewport { width: 100%; height: 70px; overflow: hidden; position: relative; }
#commonScroll .overview{position: relative;}
#users1 .shadows{margin-left:-10px;}
#users1 .viewport{height:400px;}
