.usersLeftPane span.checkbox {
    background: url("img/checkbox_trans.png") no-repeat scroll 0 0 transparent;
}
.user-tabs{
	background: url(img/bgLineUserTabs.png) repeat-x 0 top transparent;
	overflow:hidden;
	text-align: center;
	width:100%;
	margin-bottom:10px;
}
.user-tabs ul{
	margin:0;
	padding:0;
	list-style: none;
}
.user-tabs ul li{
	height:20px;
	border:1px solid #acbecb;
	display:inline-block;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background:none;
	color:#8495a2;
	text-align: center;
	font-size:14px;
	margin-right:5px;
	padding:4px 10px 2px;
}
.user-tabs ul li.active{
	background:#96acbf;
	color:#FFFFFF;
	-moz-box-shadow: inset 0px 1px 2px #68757a;
	-webkit-box-shadow: inset 0px 1px 2px #68757a;
}
.users-main{
	min-height:500px;
  	overflow: hidden;
}
.pages-wrapper {
}
.addNewUserBtn{
	margin-bottom:5px;
	overflow: hidden;
	min-height:30px;
}
.addNewUser{
	background:url(img/btn_addNewUser.png)no-repeat;
	font-size: 14px;
    height: 30px;
    padding-left: 10px;
    padding-right: 38px;
    padding-top: 0;
    border:0;
    float:right;
    margin:0;
    color:#fff;
}
.site-users{
	width:768px;
	margin-bottom:30px;
}
.usersLeftPane{
	width:233px;
	padding-right: 10px;
}
.usersLeftPane.userEdit{
	width:99%;
	padding-right:0;
}
.site-users .title,
.usersLeftPane .title{
	font-size:20px;
	color:#99aec0;
	margin-bottom:10px;
}

.usersLeftPane .title .help{
	display: inline-block;
	background:url(img/helpIcon.png) no-repeat;
	width: 20px;
	height:20px;
	float:none;
}
.usersLeftPane .help a{
	display:block;
}

.site-users ul{
	margin:0;
	padding:0;
	list-style:none;
}
.site-users ul li{
	margin:0;
	padding:0;
}
/*.site-users .userGridHeader{
	margin-left:10px;
}*/
.site-users .leftMargin{
	margin-left:10px !important;
}
.site-users .noBg{
	background:none !important;
}
.site-users ul.ConLibraHeads li {
	background: url(img/bg_grayGrain.gif) repeat;
	height:25px;
	border-top: 1px solid #333333;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	color:#FFFFFF;
	font-size:14px;
	padding-top: 8px;
}
.site-users ul.ConLibraHeads li span{
	border:0;
	text-align: center;
}
.site-users ul.ConLibraHeads li span.userName{
	width:300px;
	display:inline-block;
}
.site-users ul.ConLibraHeads li span.group{
	width:200px;
	display:inline-block;
	border:0;
}
.site-users ul.ConLibraHeads li span.created,
.site-users ul.ConLibraHeads li span.lastActivity {
	width:100px;
	display:inline-block;
	border:0;
}

.site-users ul.ConLibra li span{
	/*border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #666666;
	border-top: 1px solid #f0f0f0;*/
	display:inline-block;
	text-align: center;
	margin:0;
}
.site-users ul.ConLibra{
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}
.site-users ul.ConLibra li{
	background:url(img/bg_TableTopBorder.png) repeat-x 0 top #f0f0f0;
	border-bottom: 1px solid #CBCBCA;
}

.site-users .userGridFooter {
	background: url(img/bg_grayGrain.gif) repeat;
	height:15px;
	border: 1px solid #333333;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.site-users ul.ConLibra .alt {
	background:url(img/bg_TableTopBorder.png) repeat-x 0 top #dedede;
}
.site-users ul.ConLibra .selected {
	background:#cce3f2;
}
.site-users .userName .pointer{
	display:none;
	background:url(img/pointerUserTableRow.png) no-repeat;
	width:9px;
	height:24px;
	position: absolute;
	z-index: 1;
	left: -9px;
	top:0;
	border:0;
}

/*.site-users ul.ConLibra li:first-child{
	border-left: 0;
}
.site-users ul.ConLibra li:first-child span{
	border-top: 0;
	background: -moz-linear-gradient(bottom,  #cccccc, #cccccc,  #cccccc,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#cccccc), to(#cccccc), to(#cccccc));
}
.site-users ul.ConLibra li:last-child span{
	border-bottom: 0;
	background: -moz-linear-gradient(top,  #cccccc, #cccccc,  #cccccc,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc), to(#cccccc), to(#666666));
}
.site-users ul.ConLibra li.selected:first-child span{
	border-top: 0;
	background: -moz-linear-gradient(bottom,  #cce3f2, #cce3f2,  #cce3f2,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#cce3f2), to(#cce3f2), to(#cce3f2));
}
.site-users ul.ConLibra li.selected:last-child span{
	border-bottom: 0;
	background: -moz-linear-gradient(top,  #cce3f2, #cce3f2,  #cce3f2,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#cce3f2), to(#cce3f2), to(#cce3f2), to(#666666));
}*/

.site-users ul.ConLibra li span.userName{
	width:290px;
	position: relative;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}
.site-users span.userName .status{
	float:right;
	border:0;
	margin-top: -2px;
}
.site-users ul.ConLibra li span.group{
	width:200px;
	border-left: 1px solid #999999;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}
.site-users ul.ConLibra li span.created,
.site-users ul.ConLibra li span.lastActivity{
	width:100px;	
	text-align: center;
	border-left: 1px solid #999999;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}

.page-data{
	margin-bottom:10px;
	position: relative;
}

.usersLeftPane .userPanel{
	background:url(img/bg_SearchUserPanel.png) repeat;
	border-radius:4px;
	min-height: 100px;
	margin-bottom:10px;
	padding-bottom: 5px;
}
.usersLeftPane .userPanel .showRoles{
	padding: 0 10px;
}
.usersLeftPane .userPanel .showRoles .key,
.usersLeftPane .userPanel .showRoles .val{
	display:inline-block;
	overflow:hidden;
	vertical-align: middle;
}

.userPanel .searchUser{
	margin-bottom:5px;
}
.userPanel .searchUser .searchInput{
	background: url(img/bg_SearchUser.png) no-repeat;
	width: 192px;
	height:26px;
	padding-top:8px;
	padding-left:5px;
}
.searchInput input[type="text"]{
	border:0;
}
.searchUser .selectColumns{
	background: url(img/bg_SelectColumns.png) no-repeat;
	height:26px;
	display: block;
}
.searchUser .selectColumns .columnText{
	color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding-top: 3px;
    text-align: center;
    width: 185px;
}
 .searchUser .addSearch{
	display:inline-block;
}
.usersLeftPane .userPanelDevider{
	background:url(img/userPanelDevider.png) no-repeat center 0 transparent;
	height:12px;
	margin-bottom:10px;
}
.usersLeftPane .lineDevider{
	margin:10px 10px 2px;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #FFF;
}
.userPanel .showUser{
	height:24px;
	background:#a7c7d8;
	border-radius: 4px;
	margin-left:10px;
	margin-bottom:5px;
	width:auto;
	overflow: hidden;
	color:#FFFFFF;
	display:inline-block;
}
.userPanel .date-created,
.userPanel .last-activity {
	padding:5px 0 0 10px;
	margin-bottom:10px;
}
.userPanel .rangeSlider{
	margin-bottom:10px;
	padding:10px;
}
.userPanel .last-activity {
	padding:10px 0 0 0;
	background:url(img/bgLineLastActivity.png) repeat-x;
	margin:0 10px 10px 10px;
}
.userPanel .date-created label,
.userPanel .last-activity label{
	display: inline-block;
    margin-top: 4px;
}
.userPanel .showUser .user-label{
	display:inline-block;
	padding: 0 5px;
}
.userPanel .showUser .userLastname{
	background:#666666;
	display:inline-block;
	padding: 4px 8px;
	vertical-align: middle;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.userPanel .showUser .userLastname img{
	vertical-align: middle;
	margin-left:5px;
}
.usersLeftPane .userDetailPanel{
	background:#000000;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius: 6px;
	height: 435px;
    margin-right: -30px;
    padding:8px 16px 8px 8px;
    color:#FFFFFF;
    position: relative;
}
.usersLeftPane .userDetailPanel.ordersLeft{
	height:500px;
}
.usersLeftPane h2{
	border-bottom: 1px solid #575A5B;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 6px;
    padding: 5px;
}
.usersLeftPane .userDetailPanel .buttonPanel{
	position: absolute;
	bottom:10px;
	right:20px;
}
.groupEditBtnPanel{
	position: absolute;
	bottom:10px;
	width:238px;
}
	.userDetailPanel .buttonPanel button{
		margin:0;
	}
.usersLeftPane .userDetailSet{
	margin-bottom:10px;
}
.usersLeftPane .showGroupDetail{
	margin-bottom:10px;
	color:#CCCCCC;
}
.usersLeftPane .showGroupDetail .key,
.usersLeftPane .showGroupDetail .val{
	vertical-align: middle;
	display:inline-block;
}
.usersLeftPane .showGroupDetail .groupNameLabel{
	margin:3px;
}
.usersLeftPane .showGroupDetail .groupNameField{
	background:#272727;
	border-radius: 4px;
	padding:5px;
	color:#FFFFFF;
	font-size:14px;
}
.usersLeftPane .showRolesDetail{
	margin-bottom:5px;
	overflow:hidden;
	color:#CCCCCC;
}
.usersLeftPane .showRolesDetail ul{
	padding:0;
	margin:0;
	list-style: none;
}
.usersLeftPane .showRolesDetail ul li{
	padding:0;
	margin:0;
	list-style: none;
	width:110px;
	display:inline-block;
}
.usersLeftPane .showRolesDetail ul li span{
	vertical-align: middle;
	display:inline-block;
}
.usersLeftPane.userEdit .userDetailSet{
	margin-bottom:3px;
}
	.userDetailSet span.key,
	.userDetailSet span.val{
		display:inline-block;
		vertical-align: top;
		word-wrap: break-word;
	}

	.userDetailSet span.key{
		text-align:right;
		width:75px;
		margin-right:6px;
		color:#CCCCCC;
	}
	.ordersLeft .userDetailSet span.key{text-align:left;}
	.userDetailSet span.val{
		width:138px;
	}
	.usersLeftPane.userEdit .colum-wrapper span.val{
		background: #272727;
	    border-radius: 2px;
	    padding: 3px;
	    width: 203px;
	    margin-bottom:1px;
	}
	
.usersLeftPane .bottomBorder{
	border-bottom:1px solid #575a5b;
	padding-bottom: 10px;
	overflow: hidden;
}

.userEditPanel{
	background:#000000;
	border-radius:6px;
	height: 435px;
    padding:8px 16px 8px 8px;
    color:#FFFFFF;
    position: relative;
}
.usersLeftPane.userEdit .userEditPanel{
	height: auto;
}
.orderPanel h3{
	color:#9DC350;
	font-size: 14px;
	margin:0 0 15px;
}
.orderPanel .orderDetailSet dt{
	float: left;
	width:120px;
	margin-bottom:2px;
	overflow: hidden;
	color:#C0C0C0;
	padding: 2px 0;
	font-size: 12px;
}
.orderPanel .orderDetailSet dd{
	margin:0 0 1px;
	overflow: hidden;
	width:180px;
	padding: 2px 0;
	color:#FFF;
	font-size: 12px;
}
.orderPanel .orderDetailSet dd input[type="text"]{
	background:none;
	width:95%;
	border:0;
	color:#FFF;
	font-size: 12px;
}
.orderPanel .orderDetailSet dd select{
	width:100%;
	background:#9E9E9E;
	border:0;
	color:#FFF;
	padding:2px;
}
.orderPanel .btns{
	margin-bottom:5px;
	overflow:hidden;
}
.orderPanel .btns button{
	margin:0;
}
.orderPanel .orderDetailSet dd.grayBg{
	background: #272727;
    border-radius: 2px;
}
.userEditPanel .orderHeader{
	padding:10px 5px 5px;
	border-bottom:1px solid #666;
	overflow: hidden;
	position: relative;
}
.orderHeader .exportBtn{
	position: absolute;
	right:0;
	top:0;
}
.exportBtn button{
	margin:0;
}
.orderHeader .tabWraper {
	margin-bottom:-10px;
}
.orderHeader .pTabs {
	padding:0;
	margin:0;
	list-style: none;
	background:none;
}
.orderHeader .pTabs li{
	padding:5px 10px 10px;
	margin:0 10px 0 0;
	list-style: none;
	float:left;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background:#505050;
	font-size: 14px;
	color:#CCCCCC;
}
.orderHeader .pTabs li.active{
	background:#9DC350;
	color:#333;
}
.orderHeader .orderNum{
	color:#FFF;
	font-size: 16px;
	width:31%;
}
.userEditPanel .colum-wrapper{
	width:31%;
	margin-right:30px;
	padding-top:15px;
	margin-bottom: 20px;
}
.orderPanel .colum-wrapper{
	border-left: 1px solid #666666;
	border-right: 0;
    margin: 10px 5px;
    padding: 0 5px 0;
    width: 31%;
}
.orderPanel .colum-wrapper.first{
	margin-right:0;
	padding-left:0;
	border-left:0;
}
.orderPanel .products-wrapper h3{
	color: #9DC350;
    font-size: 14px;
    margin: 15px 0 15px;
}
.orderPanel .products-wrapper table{
	width:100%;
	
}
.orderPanel .products-wrapper table thead th{
	font-weight: normal;
	color:#CCCCCC;
	border-bottom: 1px solid #666666;
	padding: 5px 5px 5px 10px;
}
.orderPanel .products-wrapper table tbody td{
	border-bottom: 1px solid #666666;
	vertical-align: top;
	padding: 5px 5px 5px 10px;
}
.orderPanel .products-wrapper table .products{
	width:140px;
}
.orderPanel .products-wrapper table .discrip{
	width:200px;
}
.orderPanel .products-wrapper table .qty{
	width:150px;
	text-align: center;
}
.orderPanel .products-wrapper table .price{
	width:150px;
}
.orderPanel .products-wrapper table .options{
	width:150px;
}
.orderPanel .products-wrapper table .cost{
	width:250px;
}
.orderPanel .products-wrapper dl{
	margin-top:0;
}
.orderPanel .products-wrapper .costDetails dt{
	float:left;	
	text-align: right;
	width:100px;
	color:#CCCCCC;
}
.orderPanel .notes-wrapper{
	width:47%;
	margin:10px 5px 20px;
	border-right:1px solid #616161;
	padding:0 5px;
}
.orderPanel .notes-wrapper.last{
	padding-right: 0;
	border-right:0px;
	margin-right:0;
}
.orderPanel .notes-wrapper dl dt{
	clear: both;
    float: left;
    margin: 0 0 10px;
    width: 110px;
}
.orderPanel .notes-wrapper dl dd{
	clear: right;
    float: left;
    margin: 0 0 10px;
    width: 330px;
    position: relative;
    padding: 0 20px 0 0;
}
.orderPanel .notes-wrapper dl dd textarea{
	background:#3F3F3F;
	border:0;
	border-radius:4px;
	padding:4px;
	width:100%;
	color:#C0C0C0;
}
.orderPanel .notes-wrapper dl dd .deleteBtn{
	position: absolute;
	right:0;
	top:3px;
}
.orderPanel .products-wrapper{
	margin-bottom:20px;
	overflow: hidden;
}
.orderPanel .products-wrapper .costDetails dd{
	width:100px;
	margin:0;
	float:left;
}
.orderPanel .products-wrapper .adjSection{
	width: 400px;
	border-bottom:1px solid #666666;
	margin-bottom:10px;
}
.orderPanel .products-wrapper .grandTotal{
	margin-right:20px;
}
.orderPanel .products-wrapper .grandTotal dl dt{
	color:#9DC350;
	font-size: 16px;
	font-weight: bold;
	width:100px;
}
.orderPanel .products-wrapper .grandTotal dl dd{
	color:#9DC350;
	font-weight: bold;
	width:100px;
	margin:0;
	float:left;
}
.orderPanel .products-wrapper .expanded dt{
	width:280px;
}
.orderPanel .products-wrapper .expanded dd{
	width:100px;
	margin:0;
	float:left;
}
.orderPanel .products-wrapper .greenTxt{
	color:#9DC350;
}
.userEditPanel .colum-wrapper.last{
	margin-right:0;
}
.userEditPanel .colum-wrapper .tab-wrapper{
	position:relative;
	z-index: 1;
	height: 30px;
}
.userEditPanel .colum-wrapper .tab-wrapper ul{
	padding:0;
	margin:0;
	list-style: none;
}
.userEditPanel .colum-wrapper .tab-wrapper ul li{
	width: 115px;
	display:inline-block;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background:#272727;
	padding:7px;
	border:1px solid #999999;
	text-align:center;
	margin-right:7px;
}

.userEditPanel .colum-wrapper ul li:last-child{
	margin-right:0px;
}
.userEditPanel .colum-wrapper ul li.active{
	background:none;
	border-bottom:0;
	height:16px;
	background:#000000;
}
.userEditPanel .tab-Content{
	border:1px solid #999999;
	width:310px;
	min-height: 300px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	padding-top:20px;
}
.userEditPanel .userEditBtnPanel{
	border-top:1px solid #575A5B;
	margin-top:10px;
	padding-top:10px;
	overflow:hidden;
}
.userEditBtnPanel .right button{
	margin-right:0;
}
.userEditPanel .user-topCorner{
	position: absolute;
	right:10px;
	top:10px;
	color:#CCCCCC;
}
.userEditPanel .user-topCorner span{
	display:inline-block;
	vertical-align: middle;
}
.userEditPanel .user-topCorner span.key{
	margin-right:2px;
}
.userEditPanel .user-topCorner span.val{
	margin-right:25px;
}
.colum-wrapper .userGroupInfo{
	margin-bottom:10px;
	color:#CCCCCC;
	overflow:hidden;
}
.colum-wrapper .userGroupInfo .groupLabel{
	padding-left:5px;
	padding-bottom:2px;
}
.colum-wrapper .userGroupInfo .groupInfo{
	background:#272727;
	border-radius:6px;
	padding:10px;
}
.colum-wrapper .userGroupInfo .groupInfo.fixed{
	height:55px;
	padding:0;
}
.colum-wrapper .userGroupInfo .groupInfo.fixed textarea{
	background:none;
	border:0;
	width: 255px;
	height:45px;
	color:#CCCCCC;
	padding:5px;
}
.colum-wrapper .userGroupInfo .groupInfo.fullWidth textarea{
	width: 285px;
}
.colum-wrapper .userGroupInfo .groupInfo div{
	overflow:hidden;
}
.colum-wrapper .userGroupInfo .groupInfo label{
	vertical-align: middle;
	display:inline-block;
	padding-top:3px;
}
.colum-wrapper .userGroupInfo .groupInfo .addNote{
	width:25px;
	height:54px;
	background: -webkit-gradient(linear, left top, left bottom, from(#99cc66), to(#7ebf5e));
	background: -moz-linear-gradient(top,  #99cc66,  #7ebf5e);
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	border:1px solid #339900;
}
.groupInfo .addNote .btnAddNote{
	width:25px;
	height:54px;
	background: url(img/btnAddNote.png) no-repeat center 5px transparent;
	display:block;
}
.userGroupInfo .editedBy{
	color:#666;
	font-size:11px;
}
.userEditPanel .colum-wrapper .seeMore {
	text-align:center;
}
.userEditPanel .colum-wrapper .seeMore .seeMoreLine{
	border:1px solid #616161;
	border-top:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-left:1px solid #616161;
	border-right:1px solid #616161;
	height:10px;
}
.userEditPanel .colum-wrapper .seeMore .seeMoreBtn{
	background:#272727;
	padding:3px;
	width:65px;
	display:inline-block;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	color:#999999;
}
#users1 .shadows{
	margin-left:10px;
}
/* Tiny Scrollbar */
#users1 .userGridHeader{
	margin-left:10px;
}
