.usersLeftPane span.checkbox {
    background: url("img/checkbox_trans.png") no-repeat scroll 0 0 transparent;
}
.user-tabs{
	background: url(img/bgLineUserTabs.png) repeat-x 0 top transparent;
	overflow:hidden;
	text-align: center;
	width:100%;
	margin-bottom:10px;
}
.user-tabs ul{
	margin:0;
	padding:0;
	list-style: none;
}
.user-tabs ul li{
	height:20px;
	border:1px solid #acbecb;
	display:inline-block;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background:none;
	color:#8495a2;
	text-align: center;
	font-size:14px;
	margin-right:5px;
	padding:4px 10px 2px;
}
.user-tabs ul li.active{
	background:#96acbf;
	color:#FFFFFF;
	-moz-box-shadow: inset 0px 1px 2px #68757a;
	-webkit-box-shadow: inset 0px 1px 2px #68757a;
}
.users-main{
	min-height:500px;
  	overflow: hidden;
}
.pages-wrapper {
}
.addNewUserBtn{
	margin-bottom:5px;
	overflow: hidden;
	min-height:30px;
}
.addNewUser{
	background:url(img/btn_addNewUser.png)no-repeat;
	font-size: 14px;
    height: 24px;
    padding-right: 45px;
    padding-top: 6px;
   	padding-left: 15px;
    border:0;
    float:right;
    margin:0;
    color: #FFF;
}
.site-users{
	width:768px;
	margin-bottom:30px;
}
.usersLeftPane{
	width:233px;
	padding-right: 10px;
}
.usersLeftPane.userEdit{
	width:99%;
	padding-right:0;
}
.site-users .title,
.usersLeftPane .title{
	font-size:20px;
	color:#99aec0;
	margin-bottom:10px;
}

.usersLeftPane .title .help{
	display: inline-block;
	background:url(img/helpIcon.png) no-repeat;
	width: 20px;
	height:20px;
	float:none;
}
.usersLeftPane .help a{
	display:block;
}

.site-users ul{
	margin:0;
	padding:0;
	list-style:none;
}
.site-users ul li{
	margin:0;
	padding:0;
}
.site-users .userGridHeader{
	margin-left:10px;
}
.site-users ul.ConLibraHeads li {
	background: url(img/bg_grayGrain.gif) repeat;
	height:25px;
	border-top: 1px solid #333333;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	color:#FFFFFF;
	font-size:14px;
	padding-top: 8px;
}
.site-users ul.ConLibraHeads li span{
	border:0;
	text-align: center;
}
.site-users ul.ConLibraHeads li span.userName{
	width:300px;
	display:inline-block;
}
.site-users ul.ConLibraHeads li span.group{
	width:200px;
	display:inline-block;
	border:0;
}
.site-users ul.ConLibraHeads li span.created,
.site-users ul.ConLibraHeads li span.lastActivity {
	width:100px;
	display:inline-block;
	border:0;
}

.site-users ul.ConLibra li span{
	/*border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #666666;
	border-top: 1px solid #f0f0f0;*/
	display:inline-block;
	text-align: center;
	margin:0;
}
.site-users ul.ConLibra{
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}
.site-users ul.ConLibra li{
	background:url(img/bg_TableTopBorder.png) repeat-x 0 top #f0f0f0;
	border-bottom: 1px solid #CBCBCA;
}

.site-users .userGridFooter {
	background: url(img/bg_grayGrain.gif) repeat;
	height:15px;
	border: 1px solid #333333;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	margin-left:10px;
}
.site-users ul.ConLibra .alt {
	background:url(img/bg_TableTopBorder.png) repeat-x 0 top #dedede;
}
.site-users ul.ConLibra .selected {
	background:#cce3f2;
}
.site-users .userName .pointer{
	display:none;
	background:url(img/pointerUserTableRow.png) no-repeat;
	width:9px;
	height:24px;
	position: absolute;
	z-index: 1;
	left: -9px;
	top:0;
	border:0;
}

/*.site-users ul.ConLibra li:first-child{
	border-left: 0;
}
.site-users ul.ConLibra li:first-child span{
	border-top: 0;
	background: -moz-linear-gradient(bottom,  #cccccc, #cccccc,  #cccccc,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#cccccc), to(#cccccc), to(#cccccc));
}
.site-users ul.ConLibra li:last-child span{
	border-bottom: 0;
	background: -moz-linear-gradient(top,  #cccccc, #cccccc,  #cccccc,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc), to(#cccccc), to(#666666));
}
.site-users ul.ConLibra li.selected:first-child span{
	border-top: 0;
	background: -moz-linear-gradient(bottom,  #cce3f2, #cce3f2,  #cce3f2,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#cce3f2), to(#cce3f2), to(#cce3f2));
}
.site-users ul.ConLibra li.selected:last-child span{
	border-bottom: 0;
	background: -moz-linear-gradient(top,  #cce3f2, #cce3f2,  #cce3f2,  #666666);
	background: -webkit-gradient(linear, left top, left bottom, from(#cce3f2), to(#cce3f2), to(#cce3f2), to(#666666));
}*/

.site-users ul.ConLibra li span.userName{
	width:290px;
	position: relative;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}
.site-users span.userName .status{
	float:right;
	border:0;
	margin-top: -2px;
}
.site-users ul.ConLibra li span.group{
	width:200px;
	border-left: 1px solid #999999;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}
.site-users ul.ConLibra li span.created,
.site-users ul.ConLibra li span.lastActivity{
	width:100px;	
	text-align: center;
	border-left: 1px solid #999999;
	height: 19px;
    padding-top: 5px;
    vertical-align: top;
}

.page-data{
	margin-bottom:10px;
	position: relative;
}

.usersLeftPane .userPanel{
	background:url(img/bg_SearchUserPanel.png) repeat;
	border-radius:4px;
	min-height: 100px;
	margin-bottom:10px;
	padding-bottom: 5px;
}
.usersLeftPane .userPanel .showRoles{
	padding: 0 10px;
}
.usersLeftPane .userPanel .showRoles .key,
.usersLeftPane .userPanel .showRoles .val{
	display:inline-block;
	overflow:hidden;
	vertical-align: middle;
}

.userPanel .searchUser{
	margin-bottom:5px;
}
.userPanel .searchUser .searchInput{
	background: url(img/bg_SearchUser.png) no-repeat;
	width: 192px;
	height:26px;
	padding-top:8px;
	padding-left:5px;
}
.searchInput input[type="text"]{
	border:0;
}
.searchUser .selectColumns{
	background: url(img/bg_SelectColumns.png) no-repeat;
	height:26px;
	display: block;
}
.searchUser .selectColumns .columnText{
	color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding-top: 3px;
    text-align: center;
    width: 185px;
}
 .searchUser .addSearch{
	display:inline-block;
}
.usersLeftPane .userPanelDevider{
	background:url(img/userPanelDevider.png) no-repeat center 0 transparent;
	height:12px;
	margin-bottom:10px;
}
.userPanel .showUser{
	height:24px;
	background:#a7c7d8;
	border-radius: 4px;
	margin-left:10px;
	margin-bottom:5px;
	width:auto;
	overflow: hidden;
	color:#FFFFFF;
	display:inline-block;
}
.userPanel .date-created,
.userPanel .last-activity {
	padding:5px 0 0 10px;
	margin-bottom:10px;
}
.userPanel .rangeSlider{
	margin-bottom:10px;
	padding:10px;
}
.userPanel .last-activity {
	padding:10px 0 0 0;
	background:url(img/bgLineLastActivity.png) repeat-x;
	margin:0 10px 10px 10px;
}
.userPanel .date-created label,
.userPanel .last-activity label{
	 display: block;
    margin-top: 4px;
}
.userPanel .showUser .user-label{
	display:inline-block;
	padding: 0 5px;
}
.userPanel .showUser .userLastname{
	background:#666666;
	display:inline-block;
	padding: 4px 8px;
	vertical-align: middle;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.userPanel .showUser .userLastname img{
	vertical-align: middle;
	margin-left:5px;
}
.usersLeftPane .userDetailPanel{
	background:#000000;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	height: 435px;
    margin-right: -30px;
    padding:8px 16px 8px 8px;
    color:#FFFFFF;
    position: relative;
}
.usersLeftPane h2{
	border-bottom: 1px solid #575A5B;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 6px;
    padding: 5px;
}
.usersLeftPane .userDetailPanel .buttonPanel{
	position: absolute;
	bottom:10px;
	right:20px;
}
.groupEditBtnPanel{
	position: absolute;
	bottom:10px;
	width:238px;
}
	.userDetailPanel .buttonPanel button{
		margin:0;
	}
.usersLeftPane .userDetailSet{
	margin-bottom:10px;
}
.usersLeftPane .showGroupDetail{
	margin-bottom:10px;
	color:#CCCCCC;
}
.usersLeftPane .showGroupDetail .key,
.usersLeftPane .showGroupDetail .val{
	vertical-align: middle;
	display:inline-block;
}
.usersLeftPane .showGroupDetail .groupNameLabel{
	margin:3px;
}
.usersLeftPane .showGroupDetail .groupNameField{
	background:#272727;
	border-radius: 4px;
	padding:5px;
	color:#FFFFFF;
	font-size:14px;
}
.usersLeftPane .showRolesDetail{
	margin-bottom:5px;
	overflow:hidden;
	color:#CCCCCC;
}
.usersLeftPane .showRolesDetail ul{
	padding:0;
	margin:0;
	list-style: none;
}
.usersLeftPane .showRolesDetail ul li{
	padding:0;
	margin:0;
	list-style: none;
	width:110px;
	display:inline-block;
}
.usersLeftPane .showRolesDetail ul li span{
	vertical-align: middle;
	display:inline-block;
}
.usersLeftPane.userEdit .userDetailSet{
	margin-bottom:3px;
}
	.userDetailSet span.key,
	.userDetailSet span.val{
		display:inline-block;
		vertical-align: top;
		word-wrap: break-word;
	}

	.userDetailSet span.key{
		text-align:right;
		width:75px;
		margin-right:6px;
		color:#CCCCCC;
	}
	.userDetailSet span.val{
		width:138px;
	}
	.usersLeftPane.userEdit .colum-wrapper span.val{
		background: #272727;
	    border-radius: 2px;
	    padding: 3px;
	    width: 203px;
	    margin-bottom:1px;
	}
	
.usersLeftPane .userDetailSet.bottomBorder{
	border-bottom:1px solid #575a5b;
	padding-bottom: 10px;
}

.userEditPanel{
	background:#000000;
	border-radius:6px;
	height: 435px;
    padding:8px 16px 8px 8px;
    color:#FFFFFF;
    position: relative;
}
.usersLeftPane.userEdit .userEditPanel{
	height: auto;
}

.userEditPanel .colum-wrapper{
	width:31%;
	margin-right:30px;
	padding-top:15px;
	margin-bottom: 20px;
}
.userEditPanel .colum-wrapper.last{
	margin-right:0;
}
.userEditPanel .colum-wrapper .tab-wrapper{
	position:relative;
	z-index: 1;
	height: 30px;
}
.userEditPanel .colum-wrapper .tab-wrapper ul{
	padding:0;
	margin:0;
	list-style: none;
}
.userEditPanel .colum-wrapper .tab-wrapper ul li{
	width: 115px;
	display:inline-block;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background:#272727;
	padding:7px;
	border:1px solid #999999;
	text-align:center;
	margin-right:7px;
}

.userEditPanel .colum-wrapper ul li:last-child{
	margin-right:0px;
}
.userEditPanel .colum-wrapper ul li.active{
	background:none;
	border-bottom:0;
	height:16px;
	background:#000000;
}
.userEditPanel .tab-Content{
	border:1px solid #999999;
	width:310px;
	min-height: 300px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	padding-top:20px;
}
.userEditPanel .userEditBtnPanel{
	border-top:1px solid #575A5B;
	margin-top:10px;
	padding-top:10px;
	overflow:hidden;
}
.userEditBtnPanel .right button{
	margin-right:0;
}
.userEditPanel .user-topCorner{
	position: absolute;
	right:10px;
	top:10px;
	color:#CCCCCC;
}
.userEditPanel .user-topCorner span{
	display:inline-block;
	vertical-align: middle;
}
.userEditPanel .user-topCorner span.key{
	margin-right:2px;
}
.userEditPanel .user-topCorner span.val{
	margin-right:25px;
}
.colum-wrapper .userGroupInfo{
	margin-bottom:10px;
	color:#CCCCCC;
	overflow:hidden;
}
.colum-wrapper .userGroupInfo .groupLabel{
	padding-left:5px;
	padding-bottom:2px;
}
.colum-wrapper .userGroupInfo .groupInfo{
	background:#272727;
	border-radius:6px;
	padding:10px;
}
.colum-wrapper .userGroupInfo .groupInfo.fixed{
	height:55px;
	padding:0;
}
.colum-wrapper .userGroupInfo .groupInfo.fixed textarea{
	background:none;
	border:0;
	width: 255px;
	height:45px;
	color:#CCCCCC;
	padding:5px;
}
.colum-wrapper .userGroupInfo .groupInfo.fullWidth textarea{
	width: 285px;
}
.colum-wrapper .userGroupInfo .groupInfo div{
	overflow:hidden;
}
.colum-wrapper .userGroupInfo .groupInfo label{
	vertical-align: middle;
	display:inline-block;
	padding-top:3px;
}
.colum-wrapper .userGroupInfo .groupInfo .addNote{
	width:25px;
	height:54px;
	background: -webkit-gradient(linear, left top, left bottom, from(#99cc66), to(#7ebf5e));
	background: -moz-linear-gradient(top,  #99cc66,  #7ebf5e);
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	border:1px solid #339900;
}
.groupInfo .addNote .btnAddNote{
	width:25px;
	height:54px;
	background: url(img/btnAddNote.png) no-repeat center 5px transparent;
	display:block;
}
.userGroupInfo .editedBy{
	color:#666;
	font-size:11px;
}
.userEditPanel .colum-wrapper .seeMore {
	text-align:center;
}
.userEditPanel .colum-wrapper .seeMore .seeMoreLine{
	border:1px solid #616161;
	border-top:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-left:1px solid #616161;
	border-right:1px solid #616161;
	height:10px;
}
.userEditPanel .colum-wrapper .seeMore .seeMoreBtn{
	background:#272727;
	padding:3px;
	width:65px;
	display:inline-block;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	color:#999999;
}
#scrollbar1 .shadows{
	margin-left:10px;
}
/* Tiny Scrollbar */
#scrollbar1 { width: 768px;  }
#scrollbar1 .viewport { width: 752px; height: 400px; overflow: hidden; position: relative;}
#scrollbar1 .overview { width: 765px; list-style: none; position: absolute; left: 10px; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 16px; z-index: 1;}
#scrollbar1 .track { /*background: transparent url(img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/ background:#999999; height: 100%; width:12px; position: relative; padding: 0 1px;border-right: 1px solid #333333; border-left: 1px solid #999999;}
#scrollbar1 .thumb { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 0%; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }