

<div class="contentObject">
		    						<div class="alphaBg"></div>
									<div class="expandable">
										<span class="delete"></span>
										<span class="drag"></span>
										<span class="scale"></span>
										<div class="objectContent">
											<p style="width: 300px"><%=@text.description%></p>
										</div>
									</div>
								</div>