

<div class="contentObject">
	<div class="resizable_content">

									<div class="expandable">
										<span class="delete"></span>
										<span class="drag"></span>
										
										<div class="objectContent">
											<p style="width: 300px"><%=@text.description.html_safe%></p>
										</div>
									</div>
								</div>
								</div>