    <%= form_for(@misc, :html => { :multipart => true }, :remote => true) do |f| %>
    <%=hidden_field_tag :from_content, @from_content%>
					
		    						<div class="alphaBg"></div>
									<div class="expandable">
										<span class="delete"></span>
										<span class="drag"></span>
										<span class="scale"></span>
										<div class="objectContent">
											<div class="mapTitle">store map</div>
											<div  id="map-canvas-new" style="width:250px; height:250px"></div>
									</div>
								</div>
		    					<div class="dragableObject">
									<div class="dragable">
										<span class="drag"></span>
										<div class="dragContent">
											<div class="mapDetail">
												<span class="key">title :</span><span class="val"><input type="text" value="store map"></span>
												<span class="key">address :</span><span class="val"><input type="text" value="1234 Fake St, Crested Butte CO 8120"></span>
											</div>
										</div>
										<div class="dragContentBottom"></div>	
									</div>
							
	    	</div>
	    
	   
    <script type="text/javascript">
      function mapInitialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas-new"),
            myOptions);
      }
      
     
	     $(document).ready(function(){
	    	  mapInitialize();
        
      });
    </script>	
	  <% end %>