<%@product.vendors.each do |c| %>
  <span class="lightBlueBtn">
    <a class="category_associate" href="<%=remove_vendor_site_product_path(@site, @product.id, :product_vendor_id => c.product_vendor.id)%>">
    <%=c.product_vendor.name%>
    </a>
  </span>
<%end%>