<div id="tab2" class="tab_content" >
	<div class="tab2topDiv">
		dsfsdf
	</div>
	<div class="pages-main createEditDiv">
		<div class="pages-wrapper">
			<div class="usersLeftPane">
				<div class="title">
					Choose / Order Images<span class="help"><a href="#"></a></span>
				</div>
			</div>
			<div class="site-users ">
				<div class="page-data clear ">
					<div class="userGrid ">
						<div class="userGridHeader">
							<ul class="ConLibraHeads">
								<li>
									<span class="userName">Image</span><span class="group">Image file name</span><span class="created">Primary</span><span class="created">Date Added</span>
								</li>
							</ul>
						</div>
						<div class="userGridBody">
							<div id="productsEdit">
								<div class="scrollbar">
									<div class="track">
										<div class="thumb">
											<div class="end"></div>
										</div>
									</div>
								</div>
								<div class="viewport">
									<div class="shadows">
										<span class="topShadow"></span><span class="bottomShadow"></span>
									</div>
									<div class="overview">
										<ul class="ConLibra">
											<li>
												<span class="imgs">Company1</span><span class="imgFile">Catalog1</span><span class="primary">12/22/11</span><span class="thumb">12/22/11</span><span class="dateAdded"><img border="0" src="assets/ecomm/images/bg_On.png"></span><span class="removeBtn"><span>
											</li>
											<li>
												<span class="imgs">Company1</span><span class="imgFile">Catalog1</span><span class="primary">12/22/11</span><span class="thumb">12/22/11</span><span class="dateAdded"><img border="0" src="assets/ecomm/images/bg_On.png"></span><span class="removeBtn"><span>
											</li>
											<li>
												<span class="imgs">Company1</span><span class="imgFile">Catalog1</span><span class="primary">12/22/11</span><span class="thumb">12/22/11</span><span class="dateAdded"><img border="0" src="assets/ecomm/images/bg_On.png"></span><span class="removeBtn"><span>
											</li>
											<li>
												<span class="imgs">Company1</span><span class="imgFile">Catalog1</span><span class="primary">12/22/11</span><span class="thumb">12/22/11</span><span class="dateAdded"><img border="0" src="assets/ecomm/images/bg_On.png"></span><span class="removeBtn"><span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="userGridFooter"></div>
					</div>
				</div>
				<div class="addNewUserBtn">
					<button class="addProductBtn">
						add product category
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
