 <div id="tab3" class="tab_content" >
        <div class="tab2topDiv">
          <div class="editImgDiv"><img src="assets/ecomm/images/productimg.jpg" width="136" height="100"></div>
          <div class="eiditTextDiv">
            <h2>Red Sunglasses</h2>
            <h3>created : 02/12/10</h3>
            <h3>last modified : 02/12/10</h3>
            <span><img src="assets/ecomm/images/stars.jpg" width="73" height="13"></span> </div>
          <div class="eiditTextDiv">
           <span>
<img width="48" height="21" src="assets/ecomm/images/bg_On.png">
</span><span>enable product options</span>
          </div>
        </div>	
        <div class="pages-main MProductOptions ">
          <div class="pages-wrapper">
            <div class="sectionTitleDiv">
              <div class="title">Manage Product Options<span class="help"><a href="#"></a></span></div>
              <div class="buttonSection">
              
              <select name="choose product option" > <option>choose product option</option></select>
              <div class="searchResultBox productOptBox">
					<ul>
                    	<li class="active">size<span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchCloseBtn.png"></a></span></li>
                        <li>color <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>material <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>others <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>others <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>short pants <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>yellow pants <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>green pants <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li>clear pants <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                        <li class="last">leather pants <span><a href="#"><img width="20" height="22" src="assets/ecomm/images/searchAddBtn.png"></a></span></li>
                    
                    </ul>
                </div>
            	</div>
            </div>
            <div class="site-users ">
              <div class="manageProductLeftDiv">
              	<div class="manageDateLeftBox">
            <span><img width="48" height="21" src="assets/ecomm/images/bg_On.png"></span>
            <div class="colum-section">
								
    							<div class="group">
    								<span class="key">name</span>
    								<span class="val"><input type="text" class="noEdit" value="size" disabled=""></span>
				  </div>
    							<div class="group">
    								<span class="key">friendly name:</span>
    								<span class="val"><input type="text" class="edit" value="frame size"></span>
    							</div>
    							<div class="group next">
    								<span class="key">price modifier:</span>
    								<span class="val">
    									<select class="noEdit">
    									  <option>%</option>
                                        </select>
    								</span>
                                    <div class="group">
    								<span class="key"></span>
    								<span class="val">
    								<img width="60" height="25" src="assets/ecomm/images/deleteBtn.png"></span>
    							</div>
    							</div>
								
			  </div></div>
              
              </div>
              
              <div class="manageProductRightDiv">
            <div class="userGrid productGrid">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li> <span class="userName">Name</span> <span class="group">Image</span> <span class="created">Sub - SKU</span> <span class="created">Price Mofifier</span></li>
                  </ul>
                </div>
                <div class="userGridBody">
                  <div id="scrollbar1">
                    <div class="scrollbar " >
                      <div class="track" >
                        <div class="thumb" >
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div class="overview featureProduct" >
                        <ul class="ConLibra ">
                          
                          <li class="selected alt"> <span class="userName"><span class="pointer"></span>small	<span class="status"></span></span> <span class="group"><img width="56" height="19" src="assets/ecomm/images/productImg1.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>
                          <li> <span class="userName"><span class="pointer"></span>new sub options	<span class="status"></span></span> <span class="group"><img width="49" height="22" src="assets/ecomm/images/addImgBtn.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>
                          <li> <span class="userName"><span class="pointer"></span>small	<span class="status"></span></span> <span class="group"><img width="56" height="19" src="assets/ecomm/images/productImg1.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>
                          <li> <span class="userName"><span class="pointer"></span>new sub options	<span class="status"></span></span> <span class="group"><img width="49" height="22" src="assets/ecomm/images/addImgBtn.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>
                          <li> <span class="userName"><span class="pointer"></span>small	<span class="status"></span></span> <span class="group"><img width="56" height="19" src="assets/ecomm/images/productImg1.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>
                          <li> <span class="userName"><span class="pointer"></span>new sub options	<span class="status"></span></span> <span class="group"><img width="49" height="22" src="assets/ecomm/images/addImgBtn.png"></span><span class="sku">xs123</span> <span class="modifier"><span><input type="text" maxlength="6" size="4" value="5.50" class="modifierTextBg" name=""></span></span><span class="close"><img border="0" src="assets/ecomm/images/btnDelete.png"></span></li>                                                    	
                       </ul>
                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="userGridFooter"></div>
              </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>