<div class="tab_content" id="tab5" >
        <div class="tab2topDiv">
          <div class="editImgDiv"><img width="136" height="100" src="assets/ecomm/images/productimg.jpg"></div>
          <div class="eiditTextDiv">
            <h2>Red Sunglasses</h2>
            <h3>created : 02/12/10</h3>
            <h3>last modified : 02/12/10</h3>
            <span><img width="73" height="13" src="assets/ecomm/images/stars.jpg"></span> </div>
          <div class="eiditTextDiv">
           <span><img width="48" height="21" src="assets/ecomm/images/bg_On.png"></span><span>enable related products</span><br/>
           <span><img src="assets/ecomm/images/radioOff.jpg"></span><span>auto related products</span><br/>
           <span><img src="assets/ecomm/images/radioOn.jpg"></span><span>custom related products</span>
          </div>
        </div>	
        <div class="pages-main relatedProducts">
          <div class="pages-wrapper">
            <div class="sectionTitleDiv">
              <div class="title">Manage Related Products<span class="help"><a href="#"></a></span></div>
              <div class="searchContent">
		    	<input type="text" placeholder="search/add products">
		    	<span class="searchIcon"><a href="#"></a></span>
		    	</div>
            </div>
            <div class="site-users ">
              <div class="page-data clear ">
                <div class="userGrid imageTab">
                  <div class="userGridHeader">
                    <ul class="ConLibraHeads">
                      <li> <span class="gridColHeaddings w350">Product Name</span> <span class="gridColSKUHeaddings w400">SKU</span> </li>
                    </ul>
                  </div>
                  <div class="userGridBody">
                    <div id="productsEdit">
                      <div class="scrollbar" style="height: 0px;">
                        <div class="track" style="height: 0px;">
                          <div class="thumb">
                            <div class="end"></div>
                          </div>
                        </div>
                      </div>
                      <div class="viewport">
                        <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                        <div class="overview" style="top: 0px;">
                          <ul class="ConLibra">
                            <li class="alt"><span class="imgs">shirt</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>
							<li class="alt"><span class="imgs">hat</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>                         
                            <li class="alt"><span class="imgs">shoes</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>
                            <li class="alt"><span class="imgs">belt</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>
                            <li class="alt"><span class="imgs">socks</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>
                            <li class="alt"><span class="imgs">shirt</span><span class="imgFile">12556vdc</span><span class="removeBtn"><img width="19" height="19" src="assets/ecomm/images/btnDelete.png"></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="userGridFooter"></div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>