<div id="tab6" class="tab_content" style="display: block;">
        <div class="tab2topDiv">
          <div class="editImgDiv"><img width="136" height="100" src="/assets/productimg.jpg"></div>
          <div class="eiditTextDiv">
            <h2>Red Sunglasses</h2>
            <h3>created : 02/12/10</h3>
            <h3>last modified : 02/12/10</h3>
            <span><img width="73" height="13" src="/assets/stars.jpg"></span> </div>
          <div class="eiditTextDiv">
           <span><img width="48" height="21" src="/assets/bg_On.png"></span><span>enable "try it on"</span><span/><span class="help"><a href="#"></a></span><br/>
           <span><img src="/assets/radioOff.jpg"></span><span>users can upload their own image</span><br/>
           <span><select name="choose hotspot type">
             <option>choose hotspot type</option>
           </select></span>
          </div>
        </div>	
        <div class="pages-main tryItonDiv">
        <div class="hotspotImgBlock">
            <div class="pages-main">
        <div class="pages-wrapper"><!--<div class="searchContent">
		    	<input type="text" placeholder="search">
		    	<span class="searchIcon"><a href="#"></a></span>
		    	</div>
                <div class="searchResultBox">
					<ul>
                    	<li class="active">pants<span><a href="#"><img src="assets/ecomm/images/searchCloseBtn.png" width="20" height="22"></a></span></li>
                        <li>red pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>blue pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>jean pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>long pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>short pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>yellow pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>green pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li>clear pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                        <li class="last">leather pants <span><a href="#"><img src="assets/ecomm/images/searchAddBtn.png" width="20" height="22"></a></span></li>
                    
                    </ul>
                </div>-->
          <div class="site-users left">
            
              
           
            <div class="page-data clear">
              <div class="userGrid productGrid">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li> Hotspot Images </li>
                  </ul>
                </div>
                <div class="userGridBody">
                  <div id="scrollbar1">
                    <div class="scrollbar">
                      <div class="track">
                        <div class="thumb">
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div class="overview featureProduct">
                        <ul class="ConLibra ">
                         <!-- <li> <span class="productName"><span class="pointer"></span> sunglases<span class="status"><img src="css/img/btnMarkNo.png" border="0" /></span></span> <span class="sku">Group X</span> <span class="created">08/12/11</span> <span class="vendor">08/12/11</span> <span class="sold">08/12/11</span> <span class="viewed">08/12/11</span> </li>-->
                          
                          
                          <li class="selected"> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li > <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li > <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li><span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                          <li> <span class="hotspotImages"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span> <span class="hotspotImages noleftBorder"><img src="/assets/hotspotproduct1.png" width="100" height="59"></span></li>
                         
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="userGridFooter"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
            
            
          </div>
            <div class="hotspotMid">
              <p>Drag left or right eye hotspot to position on frame, opposite eye hotspot will be automatically adjusted.</p>
              <div id="hotspotLeft"><img src="css/img/dragleftIcon.png" width="53" height="52"></div>
              <div id="hotspotRight"><img src="css/img/dragrightIcon.png" width="53" height="52"></div>
              <div class="hotspotArrows"><img src="css/img/dragSpot.png" width="196" height="29"></div>
             <div class="hotspotWindow">
             <div class="hotspotImg"><img src="css/img/hotspotimg.png" width="255" height="90"></div>
             <div class="resetBtn"><img src="/assets/resettryit.png" width="119" height="32"></div>
             </div>
            </div>
            
            <div class="hotspotPreview">
            
            
            <h4>preview</h4>
            <span><img src="/assets/preivewimg.png" width="250" height="283"></span>
            <span><select name="">
              <option>Preview Images</option>
            </select></span>
            </div>
        
        </div>
      </div>
    </div>
  </div>