<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <script type="text/javascript">
 
 function selectTab(tabId) {
 	var tab  = $("#tabs li#"+tabId)
	tab.addClass("active");
	var tab_content = tab.find("a").attr("href");
    $(tab_content).fadeIn();
 }
 
$(document).ready(function(){
	
	
    //  When user clicks on tab, this code will be executed
    $("#tabs li").click(function() {
        //  First remove class "active" from currently active tab
        $("#tabs li").removeClass('active');
        
        //  Now add class "active" to the selected/clicked tab
        $(this).addClass("active");
 
        //  Hide all tab content
        $(".tab_content").hide();
 
        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");
 
        //  Show the selected tab content
        $(selected_tab).fadeIn();
 
        //  At the end, we add return false so that the click on the link is not executed
        return false;
    });
    
    // by defautl highlight first tab
    selectTab("product_setup")
 
    
});
</script>
        
        </head>
        <body>
<div class="modelWindow">
	
  <div class="headSection">
    <h2>Create / Edit Project</h2>
    <span><a href="#"><img src="assets/ecomm/images/helpIcon.png" width="20" height="20"></a></span> </div>
  <div class="midSection">
    <div id="tabs_container">
      <ul id="tabs">
        <li class="active" id="product_setup" name="product_setup"><a href="#tab1">product setup</a></li>
      </ul>
    </div>
    <div id="tabs_content_container">
    	<%= render :partial => "product_setup" ,:locals => {:site => @site, :product => @product }%>
    </div>
  </div>
  <div class="footSection">
    <input name="product_cancel" id="product_cancel" type="button" class="btnCancelForm grayBtn" value="cancel" >
    <input name="product_save" id="product_save" type="button" class="greenBtn" value="save changes" >
  </div>
</div>
</body>
</html>
	