<div class="done-main">
		    			<header><h1>You're Done!</h1></header>
		    			<div class="done-msg">Now that your site is built to your liking, you can choose to make the site active now or save the site and activate it later. You can always come back to the site builder to make changes to any aspect of your website.</div>
		    			<div class="activateWebsite"><button class="activateMyWeb">save and activate my website</button></div>
		    			<span class="activateLaterBtn"><button class="activateLater">just save my website, I’ll activate later</button></span>
		    			<span class="addCommerceBtn"><button class="addEcommerce">save and add ecommerce to my website</button></span>
		    		</div>