<%add_form = content.source%>
<div class="contentObject">
		    						<div class="alphaBg"></div>
									<div class="expandable">
								        <span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>"$('.ui-droppable').html('');"%></span>
										<span class="drag"></span>
										<span class="scale"></span>
										<div class="objectContent">
											<%add_form.questions.each do |question|%>
												<div class="formRow">
													<label><%=question.name%> :</label>
													<%if question.type == "TextQuestion" and question.field_type == "text_field"%>
													   <input type="text">
													<%elsif question.type == "TextQuestion" and question.field_type == "text_area"%>
														<input type="text" style="width:200px;height:200px;" >
													<%elsif question.type == "SingleOptionQuestion" and question.field_type == "select"%>
													
													<%elsif question.type == "SingleOptionQuestion" and question.field_type == "radio_button"%>
													<%elsif question.type == "MultipleOptionQuestion" and question.field_type == "check_box"%>
													                <div class="form-set makeSlection multiple_choice_question">
												                    <ul>
												                    	<%question.options.each do |option|%>
													                        <li>
													                            <span><span id="" class="radio" style="background-position: 0px 0px; "></span><input type="radio" class="styled" value="on"></span><span class="vals"><%=option.name%></span>
													                        </li>
												                        <%end%>
												                    </ul>
												                    <span class="dragable"><a href="#" class="dragBtn"></a></span>
												                </div>

													<%end%>
												</div>
											<%end%>
											<div class="formRow">
												<button class="primary submitBtn right">Submit</button>
											</div>
										</div>
									</div>
								</div>