<div class="contentObject">
		    						<div class="alphaBg"></div>
									<div class="expandable">
										<span class="delete"></span>
										<span class="drag"></span>
										<span class="scale"></span>
										<div class="objectContent">
											<div class="formRow">
											<label>name :</label><input type="text">
											</div>
											<div class="formRow">
												<label>landing page :</label><input type="text">
											</div>
											<div class="formRow">
												<label>this :</label><input type="text">
											</div>
											<div class="formRow">
												<label>that :</label><input type="text">
											</div>
											<div class="formRow">
												<label>other :</label><input type="text">
											</div>
											<div class="formRow">
												<button class="primary submitBtn right">Submit</button>
											</div>
										</div>
									</div>
								</div>