<%if params[:question_type] == "multiple_choice_question"%>
        <div class="rowSet">
            <span><span id="" class="checkbox" style="background-position: 0px 0px; "></span><input type="checkbox" class="styled"></span><span class="makeRq">
                <label>
                    make this element required
                </label>
            </span>
        </div>
        <div class="rowSet">
            <span class="rowTitle">
                <label>
                    title
                </label>
            </span>
            <div class="mainField">
                <input type="text" value="this">
            </div>
        </div>
        <div class="rowSet">
            <span class="rowTitle">
                <label>
                    options
                </label>
            </span>
            <div class="mainField">
                <input type="text"><span class="btns"><img src="/assets/btn_grayCircle.png" border="0"><img src="/assets/btn_delete.png" border="0"></span>
            </div>
            <div class="mainField">
                <input type="text"><span class="btns"><img src="/assets/btn_grayCircle.png" border="0"><img src="/assets/btn_delete.png" border="0"></span>
            </div>
            <div class="mainField">
                <input type="text"><span class="btns"><img src="/assets/btn_grayCircle.png" border="0"><img src="/assets/btn_delete.png" border="0"></span>
            </div>
            <div class="mainField">
                <input type="text"><span class="btns"><img src="/assets/btn_grayCircle.png" border="0"><img src="/assets/btn_delete.png" border="0"></span>
            </div>
            <div class="mainField">
                <span class="btns"><img src="/assets/btnAddElement.png" border="0"></span>
            </div>
        </div>
<%elsif params[:question_type] == "text_field_question"%>
 <div class="rowSet">
            <span><span id="" class="checkbox" style="background-position: 0px 0px; "></span><input type="checkbox" class="styled"></span><span class="makeRq">
                <label>
                    make this element required
                </label>
            </span>
        </div>
        <div class="rowSet">
            <span class="rowTitle">
                <label>
                    title
                </label>
            </span>
            <div class="mainField">
                <input type="text" value="this">
            </div>
        </div>
<%elsif params[:question_type] == "text_area_question"%>
 <div class="rowSet">
            <span><span id="" class="checkbox" style="background-position: 0px 0px; "></span><input type="checkbox" class="styled"></span><span class="makeRq">
                <label>
                    make this element required
                </label>
            </span>
        </div>
        <div class="rowSet">
            <span class="rowTitle">
                <label>
                    title
                </label>
            </span>
            <div class="mainField">
                <div class="infoGroup">
                        <input type="text" class="infoPara">
                </div>
            </div>
        </div>
<%elsif params[:question_type] == "radio_button_choise_question"%>
<%elsif params[:question_type] == "single_selection_question"%>
<%elsif params[:question_type] == "section_break"%>
 <div class="rowSet">
            <span class="rowTitle">
                <label>
                    title
                </label>
            </span>
            <div class="mainField">
                <input type="text" value="this">
            </div>
        </div>
				
<%end%>