<div class="content-section">
    <div class="pages-main">
        <div class="pages-wrapper couponWrapper">
            <div class="usersLeftPane left">
                <div class="title">
                    inventory report <span class="help"><a href="#"></a></span>
                </div>
                <div class="userPanel">
                    <div class="searchUser">
                        <span class="searchInput left"><input type="text" placeholder="search"></span><span class="addSearch left"><img border="0" src="css/img/btn_AddNewSearch.png"></span><span class="selectColumns clear"><span class="columnText">all columns</span><span class="btnDown right"><img border="0" src="css/img/btnDropDownSelectColum.png"></span></span>
                    </div><span class="showUser clear"><span class="userLastname">sunglasses <img src="css/img/btn_deleteUser_disabled.png"></span><span class="user-label">product name</span></span>
                    <span class="showUser clear"><span class="userLastname">red <img src="css/img/btn_deleteUser_active.png"></span><span class="user-label">option1</span></span>
                </div>
                <div class="userPanelDevider">
                </div>
                <div class="userPanel productp">
                    <div class="date-created">
                        <span id="" class="checkbox" style="background-position: 0pt -50px;"></span>
                        <input type="checkbox" checked="checked" class="styled">
                        <label for="shareThis">
                            total
                        </label>
                    </div>
                    <div class="rangeSlider">
                        <img width="212" height="22" src="css/img/sideBar.png">
                    </div>
                </div>
                <div class="userPanelDevider">
                </div>
                <div class="userPanel">
                    <div class="date-created">
                        <span id="" class="checkbox" style="background-position: 0pt -50px;"></span>
                        <input type="checkbox" class="styled" checked="checked">
                        <label for="dateCreated">
                            active products
                        </label>
                    </div>
                    <div class="date-created">
                        <span id="" class="checkbox" style="background-position: 0pt 0pt;"></span>
                        <input type="checkbox" class="styled">
                        <label for="dateCreated">
                            inactive products
                        </label>
                    </div>
                </div>
            </div>
            <div class="site-users left ">
                <div class="addNewUserBtn">
                    <div class="right">
                        <select class="graySelect selectExp">
                            <option value="">select export type</option>
                        </select>
                        <button class="blueBtn">
                            export report
                        </button>
                    </div>
                </div>
                <div class="page-data clear">
                    <div class="userGrid">
                        <div class="userGridHeader">
                            <ul class="ConLibraHeads">
                                <li>
                                    <span class="dtCol">item#</span>
                                    <span class="orderCol">Product Name</span>
                                    <span class="dtCol">Option1</span>
                                    <span class="dtCol">Option2</span>
                                    <span class="amtCol-narrow">Starting</span>
                                    <span class="amtCol-narrow">Adj.</span>
                                    <span class="amtCol-narrow">Sold</span>
                                    <span class="amtCol-narrow">On Hold</span>
                                    <span class="amtCol-narrow">Unit Cost</span>
                                    <span class="orderCol">Inventory Value</span>
                                </li>
                            </ul>
                        </div>
                        <div class="userGridBody">
                            <div id="products1">
                                <div class="scrollbar" style="height: 400px;">
                                    <div class="track" style="height: 400px;">
                                        <div class="thumb" style="top: 0px; height: 355.556px;">
                                            <div class="end">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport">
                                    <div class="shadows">
                                        <span class="topShadow"></span>
                                        <span class="bottomShadow"></span>
                                    </div>
                                    <div class="overview" style="top: 0px;">
                                        <ul class="ConLibra">
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                        </ul>
                                        <ul class="ConLibra totalsRow">
                                            <li class="blackRow alt">
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="orderCol"></span>
                                            </li>
                                        </ul>
                                        <ul class="ConLibra">
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                        </ul>
                                        <ul class="ConLibra totalsRow">
                                            <li class="blackRow alt">
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="orderCol"></span>
                                            </li>
                                        </ul>
                                        <ul class="ConLibra">
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li class="alt">
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol">2912-red</span>
                                                <span class="orderCol borderLeft">sunglass</span>
                                                <span class="dtCol">Red</span>
                                                <span class="dtCol">large</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                        </ul>
                                        <ul class="ConLibra totalsRow">
                                            <li class="blackRow alt">
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">0</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">100</span>
                                                <span class="amtCol-narrow">$205.00</span>
                                                <span class="orderCol">$2255.00</span>
                                            </li>
                                            <li>
                                                <span class="dtCol"></span>
                                                <span class="orderCol borderLeft"></span>
                                                <span class="dtCol"></span>
                                                <span class="dtCol"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="amtCol-narrow"></span>
                                                <span class="orderCol"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="userGridFooter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
