<div class="contentObject">
    <div class="resizable_content" style="<%=@bloc_style%>">
        <div class="expandable">
            <span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>"$('.ui-droppable').html('');"%></span>
            <span class="title"><%=truncate(content.name, :length => 15, :separator => '..')%></span>
            <span class="drag"></span>
            <div class="objectContent">
              <span style="min-width:300px;min-height:300px" class="imageb">
                <img border="0" src="<%=(content.source.updated_at == content.source.created_at) ? content.source.upload : content.source.upload(:thumb)%>" class="cropbox">
              </span>
            </div>
        </div>
    </div>
</div>

